.backtochats{
    display: none;
}
@media only screen and (max-width: 1170px) {
    .close_side_bar{
        display: block;
    }
    .for_mobile{
        display: inline-block;
    }
    .sidebar {
      width: 300px;
      text-align: center;
      position: fixed;
      height: 100%;
      z-index: 123123123;
      background-color: #fff;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      transition: 0.3s;
      left: -100%;
    }
    .sidebar.active{
        left: 0;
    }
    .page_wrapper {
      width: 99%;
      padding: 0 0 0 1%;
      background-color: #F6F6F6;
    }
    .for_mobile {
  display: inline-block;
  float: left;
  width: 200px;
}
.page_wrapper .header form {
  position: absolute;
  width: 90%;
  float: unset;
  left: 5%;
  top: 90px;
}
.page_wrapper .header .notification {
  float: left;
  color: #000;
  font-size: 25px;
  margin: 11px 0;
  width: 50px;
  text-align: center;
}
.page_wrapper .header .user {
  float: left;
  width: 50px;
}
.for_mobile .logo {
  width: 80px;
  float: left;
}
.for_mobile .show_side_bar {
  float: left;
  color: #000;
  font-size: 25px;
  margin: 6px 0;
  width: 70px;
  text-align: center;
}
.for_mobile .show_side_search {
  float: left;
  color: #000;
  font-size: 25px;
  margin: 6px 0;
  width: 50px;
  text-align: center;
  display: none;
}
.page_wrapper .header .notification {
  float: right;
  color: #000;
  font-size: 25px;
  margin: 6px 0;
  width: 50px;
  text-align: center;
}
.page_wrapper .header .user {
  float: right;
  width: 50px;
  margin: -7px 0 0 0;
}
.page_wrapper .header {
  padding: 10px 1% 60px 1%;
  background-color: #fff;
  display: inline-block;
  width: 98%;
}
.page_wrapper .header form {
  position: absolute;
  width: 98%;
  float: unset;
  left: 1%;
  top: 60px;
}
.page_wrapper .header .user a {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  margin: 7px 0 0 0;
}
.close_side_bar {
  color: #000;
  position: absolute;
  right: -35px;
  width: 30px;
  height: 30px;
  background-color: #f2f2f2;
  line-height: 30px;
  border-radius: 30px;
  top: 5px;
}
.page_wrapper {
  width: 100%;
  padding: 0 0 0 0%;
  background-color: #F6F6F6;
}
.profile_box {
  width: 98%;
  padding: 100px 3%;
  position: relative;
  margin: 10px 1%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  display: inline-block;
}
.recently_view {
  width: 98%;
  padding: 15px 1%;
  position: relative;
  margin: 10px 1%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  display: inline-block;
}
.chat_wrapper {
  width: 98%;
  padding: 30px 0;
  margin: 0 1%;
}
.recently_view_t_bg {
  width: 98%;
  margin: 0 auto;
}
.page_wrapper .header form h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 42px;
  color: #202020;
  margin: -12px 0 0 0;
}
.page_wrapper .header form p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  color: #202020;
  margin: -4px 0 0 0;
}
}
@media only screen and (max-width: 900px) {
.wishlist_products .product_box {
  float: left;
  width: 31%;
  margin: 10px 1%;
}
.chat_form .form_options {
  width: 133px;
  float: right;
  position: absolute;
  right: 0;
}
.table_list_outer {
  width: 100%;
  overflow-x: auto;
}
.table_list_box {
  width: 900px;
}
.profile_box .left {
  float: left;
  width: 100%;
}


.category_section_inner .category_section_inner_box:first-child {
  margin: 0 0 10px 0;
}
.category_section_inner .category_section_inner_box {
  float: left;
  width: 100%;
}
.product_info_top .product_info_top_left {
  float: left;
  width: 100%;
}
.product_info_top .product_info_top_right {
  float: right;
  width: 100%;
  margin: 15px 0 0 0;
}
.product_variations_box .left {
  float: left;
  width: 100%;
}
.product_variations_box .right {
  float: right;
  width: 100%;
  margin: 15px 0 0 0;
}
.user_info_content_box {
  width: 100%;
  display: inline-block;
}

.categories_page_wrapper {
  display: inline-block;
  width: 100%;
}
.categories_page_wrapper .left {
  float: left;
  width: 100%;
}
.categories_page_wrapper .right {
  width: 100%;
  margin: 0;
}
.recently_view.category_section.add_product_page.add_category_form {
  width: 98%;
  padding: 15px 2%;
  height: unset;
}
.recently_view.categories_list_box {
  width: 98%;
  padding: 0 2%;
  height: unset;
}
}
@media only screen and (max-width: 600px) {
  .recently_view .slider_arrows .slider5_arrow {
  margin: 0 10px;
}
  .user_info .image {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  border-radius: 7px;
  margin: 0 10px 0 0;
  position: relative;
}
.user_info .image span {
  background: rgba(0, 0, 0, 0.79);
  border-radius: 6px;
  position: absolute;
  bottom: unset;
  left: 0;
  width: 100%;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
  padding: 6px 0;
  top: 100px;
}
.user_info {
  width: 96%;
  display: inline-block;
  padding: 0 2%;
  margin: -150px 0 0 0;
}
.user_info .user_info_content {
  width: 100%;
  padding: 0;
  margin: 60px 0 0 0;
}
.shop_bio_content textarea {
  width: 98%;
  border: 0;
  text-align: left;
  background: #F4F4F4;
  border-radius: 6px;
  padding: 10px 1%;
  height: 100px;
}
.user_info_content_box_inner {
  width: 100%;
  padding: 0 0%;
}
  .pagination li {
    margin: 0 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    background: #E4E4E4;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #000000;
    line-height: 30px;
}
.product_box .image {
  height: 200px;
}
.product_box .details .name a{
    width: 100%;
}
.product_box .details .name .rating {
  float: right;
  width: 100%;
  text-align: left;
  margin: 0px 0 0 0;
}
.recently_view h2 {
  width: 100%;
  color: #000000;
  display: inline-block;
  margin: 0 0 15px 0;
  font-size: 16px;
}
.profile_box .left .image {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  overflow: hidden;
  margin: 0 0 15px 0;
}
.wishlist_products .product_box {
  float: left;
  width: 48%;
  margin: 10px 1%;
}
.product_box .details .name a{
    font-size: 14px;
}
.chat_wrapper_inner .chat_list {
  float: left;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.backtochats{
    display: inline-block;
}
.chat_wrapper_inner {
  width: 100%;
  display: inline-block;
  height: 600px;
  position: relative;
}
.chat_wrapper_inner .chat_box {
  float: right;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  top: 0;
}
.chat_wrapper_inner .chat_box.hide_it{
    display: none;
}
.backtochats {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  /*background-color: #f2f2f2;*/
  border-radius: 30px;
  cursor: pointer;
  margin: 0 10px 0 0;
}
.invoice_details .left {
  float: left;
  width: 100%;
}
.invoice_details .right {
  float: right;
  width: 100%;
  margin: 15px 0 0 0;
}
.input_box.search_input{
  width: 100%;
  margin: 0 0 10px 0;
}
.profile_box .left .image {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  overflow: hidden;
  margin: 0 auto 30px;
}
.profile_box .right {
  float: left;
  text-align: center;
  width: 100%;
}
.recently_view {
  padding: 15px 2%;
}
.page_wrapper .header {
  padding: 10px 2% 60px 2%;
  background-color: #fff;
  display: inline-block;
  width: 96%;
}
.page_wrapper .header form {
  position: absolute;
  width: 96%;
  float: unset;
  left: 2%;
  top: 60px;
}


.product_variations_box .attributes_box .box .actions .edit{
  padding: 5px 10px;
}

.chat_wrapper.forum_chat .message_wrapper .message .content{
  max-width: 89%;
}
.shipping_details_columns {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}
.shipping_details_columns .left {
  float: left;
  width: 100%;
}
.shipping_details_columns .right {
  float: right;
  width: 100%;
}
.shipping_details_columns .recently_view {
  width: 98%;
  padding: 15px 20px;
}
.balance_details_inner .left .image {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  overflow: hidden;
}
.balance_details_inner .left {
  float: left;
  text-align: center;
  margin: 0 0 0 5px;
}
.balance_details_inner .left h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  margin: 5px 0 0 0;
}
.balance_details_inner .right {
  float: right;
  text-align: right;
  margin: 10px 5px 0 0;
}
.balance_details_inner .right h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 22px;
  text-align: right;
  color: #69F;
  margin: 15px 0;
}
.dispute_popup_inner h1{
  font-size: 24px;
}
.total_users_products {
  width: 99%;
  display: inline-block;
}
.user_page_wrapper .recently_view.category_section.add_product_page {
  padding: 0px 3%;
}
.user_page_wrapper .profile_photos .profile_upload_box.input_box.fields_for_sellers.active {
  width: 150px;
}
.user_page_wrapper {
  width: 100%;
  margin: 0 auto;
}

}
@media only screen and (max-width: 480px) {
  .balance_details_inner {
  width: 100%;
  display: flex;
}
.chat_wrapper.forum_chat .message_wrapper .message .content{
  max-width: 80%;
}
}
@media only screen and (max-width: 375px) {
.chat_wrapper.forum_chat .message_wrapper .message .content{
  max-width: 75%;
}
}