@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
    /*color: #fff;*/
}
li, h1, h2, h3, h4, h5, h6, ul, a, img{
    max-width: 100%;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.wrapper {
  display: flex;
}
.sidebar {
  width: 280px;
  text-align: center;
  position: fixed;
  top: 0;
  
  height: 100%;
  background-color: #fff;
  z-index: 123123123;
  left: -280px;
  transition: 0.3s;
  overflow-y: auto;
overflow-x: hidden;
}
.sidebar.active{
  left: 0;
}
.for_mobile{
    display: none;
}
.close_side_bar {
  /*display: none;*/
  font-size: 20px;
  right: 10px;
  position: absolute;
  top: 10px;
  cursor: pointer;
}
.page_wrapper {
  width: 99%;
  padding: 0 0 0 1%;
  background-color: #F6F6F6;
}
.sidebar .menu li {
  display: block;
  width: 100%;
  margin: 0 0;
}
.sidebar .menu ul {
  width: 100%;
}
.sidebar .menu li a {
  width: 80%;
  padding: 0px 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 212.4%;
  text-transform: capitalize;
  color: #000;
  border-radius: 50px;
  text-align: left;
}
.sidebar .menu li a i {
  margin: 0 7px 0 0;
  font-size: 19px;
}
.sidebar .menu li a.active {
  background: #69F;
  color: #fff;
}

.sidebar .menu li ul {
  margin: 0 0 0 10%;
  width: 90%;
  background-color: #f7f7f7;
}
.sidebar .menu li ul a {
  font-size: 14px;
}



.sidebar .logo {
  margin: 50px 0;
}
.sidebar .logo a {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #69F;
}
.page_wrapper .header {
  padding: 30px 3%;
  background-color: #fff;
  display: inline-block;
  width: 94%;
}
.page_wrapper .header form {
  position: relative;
  width: 87%;
  float: left;
}
.page_wrapper .header form input {
  width: 96%;
  background: #F3F3F3;
  border-radius: 6px;
  border: 0;
  padding: 15px 2%;
}
.page_wrapper .header form button {
  position: absolute;
  right: 0;
  top: 0;
  background: #69F;
  border-radius: 0px 6px 6px 0px;
  border: 0;
  color: #fff;
  font-size: 20px;
  padding: 11px 15px;
  cursor: pointer;
}
.page_wrapper .header .notification {
  float: left;
  color: #000;
  font-size: 25px;
  margin: 11px 0;
  width: 25px;
  text-align: center;
}
.page_wrapper .header .user {
  float: right;
  width: unset;
}
.page_wrapper .header .user a {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.profile_box {
  width: 99%;
  padding: 100px 3%;
  position: relative;
  margin: 10px 0;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  display: inline-block;
}
.profile_box.buyer_dashboard {
  display: none;
}
.profile_box.buyer_dashboard.active {
  display: inline-block;
}
.profile_box a {
  position: absolute;
  right: 16px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #69F;
  top: 15px;
}
.profile_box a span {
  color: #fff;
  background-color: #69F;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin: 0 5px 0 0;
}
.profile_box .left {
  float: left;
  width: 20%;
}
.profile_box .right {
  float: left;
  width: 70%;
}
.profile_box .left .image {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  overflow: hidden;
}
.profile_box .right p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #5B5B5B;
  margin: 6px 0;
}
.profile_box .right p strong {
  color: #000000;
}
.profile_box .right p input {
  background: #F4F4F4;
  border: 0;
  border-radius: 4px;
  padding: 3px 10px;
  width: 70%;
}
.recently_view {
  width: 99%;
  padding: 15px 1%;
  position: relative;
  margin: 10px 0;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  display: inline-block;
}
.recently_view h2 {
  width: 100%;
  color: #000000;
  display: inline-block;
  margin: 0 0 15px 0;
}
.recently_view .slider_arrows {
  float: right;
}
.recently_view .slider_arrows .slider1_arrow.left {
  margin: 0 8px 0 0;
}






.product_box {
    margin: 0 10px;
    position: relative;
}

.product_box:hover .wishlist_cart span:last-child {
    opacity: 1;
    background: #69F;
    color: #fff;
}
.product_box:hover .wishlist_cart span:first-child {
    background: #0C0C0C;
    color: #fff;
}
.product_box .wishlist_cart {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.3s;
}
.product_box .wishlist_cart span {
    width: 45px;
    height: 45px;
    display: block;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    margin: 0 0 5px 0;
    border-radius: 5px;
    color: #0C0C0C;
    transition: 0.3s;
}
.product_box .wishlist_cart span:last-child {
    
    opacity: 0;
    color: #fff;
}
.product_box .image {
    height: 300px;
    background-size: cover;
    background-position: center;
}
.product_box .image a {
    display: block;
    width: 100%;
    height: 100%;
}
.product_box .details .name {
    width: 100%;
    display: inline-block;
}
.product_box .details .name a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
    width: 70%;
    float: left;
    text-align: left;
    height: 32px;
    overflow: hidden;
}
.product_box .details .name .rating {
    float: right;
    width: 30%;
    text-align: right;
    margin: 5px 0 0 0;
}
.product_box .details .name .rating i {
    color: #000;
    font-size: 10px;
}
.product_box .details .price {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: #B81111;
  margin: 0;
  text-align: left;
}
.shorting_option {
    display: inline-block;
    width: 100%;
}
.shorting_option .sort_by {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    float: right;
}
.sort_by_dropdown_options {
    display: none;
}
.sort_by .sort_by_dropdown {
    display: inline-block;
    position: relative;
}
.sort_by_dropdown_options.active {
    display: block;
    position: absolute;
    z-index: 123;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
    background-color: #fff;
    right: 0;
}
.view_by_dropdown_options.active li {
    display: block;
}
.view_by_dropdown_options.active {
    display: block;
    position: absolute;
    z-index: 123;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
    background-color: #fff;
    right: 0;
}
.sort_by_dropdown_active {
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
    margin: 0 0 0 10px;
    cursor: pointer;
}
.sort_by_dropdown_active .fas.fa-angle-down {
    margin: 0 0 0 10px;
}

.shorting_option .view_by {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    float: right;
    margin: 0 0 0 30px;
}
.view_by_dropdown_options {
    display: none;
}
.view_by .view_by_dropdown {
    display: inline-block;
    position: relative;
}
.view_by_dropdown_active {
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
    margin: 0 0 0 10px;
    cursor: pointer;
}
.view_by_dropdown_active .fas.fa-angle-down {
    margin: 0 0 0 10px;
}
.wishlist_page h2 {
  float: left;
  width: 100px;
  margin: 9px 0 0 0;
}
.wishlist_page .shorting_option {
  width: unset;
  float: right;
}
.wishlist_page {
  width: 100%;
  display: inline-block;
}
.wishlist_products .product_box {
  float: left;
  width: 23%;
  margin: 10px 1%;
}

.contact_form {
  width: 100%;
}
.contact_form .col_2 {
  width: 100%;
  display: inline-block;
  margin: 0 0 20px 0;
}
.contact_form .col_1 {
  width: 100%;
  display: inline-block;
}
.contact_form .form_row {
  width: 100%;
}
.contact_form .form_row input {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 12px 10px;
  font-family: 'Raleway', sans-serif;
}
.contact_form .form_row textarea {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 12px 10px;
  font-family: 'Raleway', sans-serif;
  height: 300px;
}
.contact_form button {
  background: #69F;
  border-radius: 44px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 10px 60px;
  border: 0;
  margin: 20px 0;
  cursor: pointer;
}
.contact_form .col_2 .form_row {
  width: 49%;
  float: left;
}
.contact_form .col_2 .form_row:last-child {
  margin: 0 0 0 2%;
}



.chat_wrapper {
  width: 98%;
  padding: 30px 0;
}
.chat_heading {
  width: 100%;
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.44px;
  color: #000000;
  margin: 0 0 30px 0;
}
.chat_heading a {
  background: #69F;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #FFF;
  float: right;
  padding: 5px 15px;
}
.chat_wrapper_inner {
  width: 100%;
  display: inline-block;
  height: 600px;
}
.chat_wrapper_inner .chat_list {
  float: left;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}
.chat_list_box {
  width: 80%;
  border-bottom: 1px solid #F5F5F5;
  padding: 10px 10%;
  position: relative;
}
.chat_list_box .about_user {
  width: 100%;
  display: flex;
}
.chat_list_box .about_user .image {
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 40px;
  margin: 0 10px 0 0;
}
.chat_list_box .about_user .content {
  float: left;
  width: 70%;
}
.chat_list_box .about_user .content h3 {
  height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #989BA1;
  margin: 3px 0 0 0;
}
.chat_list_box .about_user .content p {
  height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  color: #989BA1;
  margin: -2px 0 0 0;
}
.chat_list_box .last_message {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /*display: flex;*/
  align-items: center;
  color: #989BA1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 15px;
  margin: 6px 0 0 0;
}
.chat_list_box .last_mesage_time {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  display: flex;
  align-items: center;
  color: #989BA1;
  top: 15px;
  right: 8px;
}
.chat_list_box.active {
  background: #69F;
}
.chat_list_box.active .about_user .content h3 {
  color: #fff;
}
.chat_list_box.active .about_user .content p {
  color: #fff;
}
.chat_list_box.active .last_message{
    color: #fff;
}
.chat_list_box.active .last_mesage_time{
    color: #fff;
}
.chat_wrapper_inner .chat_box {
  float: right;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  width: 74%;
  height: 100%;
}
.chat_wrapper_inner .chat_box .chat_with {
  width: 94%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 20px 3%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat_wrapper_inner .chat_box .chat_messages {
  height: 470px;
  overflow-y: scroll;
  width: 100%;
}
.message_wrapper {
  width: 94%;
  display: inline-block;
  padding: 10px 3%;
}
.message_wrapper .message {
  width: 100%;
  display: inline-block;
  float: left;
}
.message_wrapper .message .image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 40px;
  margin: 0 10px 0 0;
  float: left;
}

.message_wrapper .message .content {
  float: left;
  max-width: 70%;
  width: max-content;
  background: rgba(148, 193, 31, 0.35);
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #555758;
  padding: 10px 10px;
  position: relative;
}
.message_wrapper .message.you {
  float: right;
}
.message_wrapper .message.you .image {
  float: right;
  margin: 0 0 0 10px;
}
.message_wrapper .message.you .content {
  float: right;
  background: rgba(172, 145, 40, 0.35);
}
.message_wrapper .message .content .time {
  position: absolute;
  bottom: -17px;
  color: #989BA1;
  font-size: 10px;
  right: 10px;
}
.message_wrapper .message.you .content .time {
  left: 10px;
}
.chat_form {
  margin: 10px 3%;
  position: relative;
  width: 94%;
  border: 1px solid #989BA1;
  box-sizing: border-box;
  border-radius: 3px;
  background: #FFFFFF;
  display: flex;
}
.chat_form textarea {
  width: 85%;
  border: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  height: 30px;
  float: left;
  resize: none;
}
.chat_form .form_options {
  width: 133px;
}
.chat_form .form_options .attchement {
  width: 25px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  color: #989BA1;
  font-size: 16px;
  float: left;
  margin: 6px;
}
.chat_form .form_options .smile {
  width: 25px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  color: #989BA1;
  font-size: 16px;
  float: left;
  margin: 6px;
}
.chat_form .form_options .send {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  float: left;
  margin: 6px;
  background: #69F;
  color: #fff;
  border-radius: 2px;
}



.pagination {
    text-align: center;
    margin: 50px 0;
}
.pagination li {
    margin: 7px 5px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    background: #E4E4E4;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    color: #000000;
    line-height: 50px;
}
.pagination li.active{
    background: #69F;
}
.pagination li.active a{
    color: #fff;
}
.pagination li a{
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.filter_orders {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #EDEDED;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}
.filter_orders .input_box {
  float: left;
  margin: 0 10px 0 0;
}
.filter_orders .input_box label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;
  color: #000000;
}
.filter_orders .input_box select {
  border: 1px solid #313131;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  width: 120px;
  padding: 5px 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #313131;
}
.filter_orders .input_box button {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border: 0;
  padding: 6px 20px;
  cursor: pointer;
  margin: 24px 0 0 0;
}
.table_list_outer {
  width: 100%;
  position: relative;
}
.table_list_box {
  width: 100%;
  display: flex;
}
.table_list_box.table_list_heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: #000;
  padding: 0;
border: 0;
}
.table_list_box.table_list_heading.fixed {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 96%;
}
.table_list_box .box {
  width: 100%;
}
.table_list_box {
  width: 100%;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #202020;
  /*font-family: Raleway;*/
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  border-radius: 0px;
  margin: 0 0;
  padding: 0 0;
}
.table_list_box:nth-child(2n) {
  background-color: #f4f8fb !important;
}
.table_list_outer.orders_list .table_list_box .box:nth-child(1) {
  text-align: left;
  padding: 0 0 0 20px;
  width: 50%;
}
.table_list_outer.orders_list .table_list_box .box:nth-child(2) {
  text-align: left;
  width: 150%;
}
.Processing {
  color: #E99A00;
}
.Completed {
  color: #00C113;
}
.Canceled {
  color: #FF0000;
}
.actions {
  width: 100%;
  display: inline-block;
}
.actions .view_details {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 10px;
  margin: 0 5px 0 0;
}
.actions .trash {
  background: #FF000052;
  border-radius: 4px;
  padding: 5px 7px;
  color: #F00;
  font-size: 12px;
}


.table_list_outer.orders_list_items .box:nth-child(1) {
  width: 150%;
  text-align: left;
}
.table_list_outer.orders_list_items .box .order_item {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.table_list_outer.orders_list_items .box .order_item span {
  float: left;
  width: 40px;
  margin: 0 8px 0 0;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
}
.table_list_outer.orders_list_items .table_list_box {
  border-left: unset;
  border-right: unset;
}
.table_list_outer.orders_list_items .box {
  line-height: 40px;
}
.invoice_details {
  width: 100%;
  display: inline-block;
  margin: 20px 0 0 0;
}
.invoice_details .left {
  float: left;
  width: 50%;
}
.invoice_details .right {
  float: right;
  width: 35%;
}
.invoice_details h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;
  color: #000000;
  margin: 0 0 10px 0;
}
.invoice_details_row {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #EDEDED;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #202020;
  padding: 10px 0;
}
.invoice_details_row .text_left {
  float: left;
}
.invoice_details_row .text_right {
  float: right;
}
.recently_view.shipping_details h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;
  color: #000000;
  margin: 10px 0 5px 0;
}
.invoice_details p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #555758;
}
.invoice_details .report_buttons {
  width: 100%;
  display: inline-block;
}
.invoice_details .report_buttons .Repeat {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #FFFFFF;
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 10px 0 0;
}
.invoice_details .report_buttons .Request_to_Cancel {
  background: #F00;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #FFFFFF;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0 0 0;
}
.table_list_outer.orders_list_items .box .color span {
  width: 35px;
  height: 12px;
  display: block;
  margin: 0 auto;
}
.order_slider_box {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  margin: 15px 10px 0;
text-align: center;
padding: 15px;
position: relative;
border-top: 0;
}
.order_slider_box h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  margin: 30px 0 0 0;
}
.order_slider_box p {
  margin: 5px 0 0 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}
.order_slider_box .line_break {
  background-color: #E5E5E5;
  height: 1px;
  width: 100%;
  margin: 20px 0;
}
.order_slider_box h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #202020;
}
.order_slider_box h4 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #B81111;
  margin: 5px 0 0 0;
}
.order_slider_box a {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  padding: 12px 0;
}
.OutOfStock{
  color: #FF0000;
}
.InStock{
  color: #00C113;
}
.filter_orders .input_box input {
  border: 1px solid #313131;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  width: 120px;
  padding: 5px 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #313131;
  width: 200px;
}
.recently_view_t_bg a {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 10px 20px;
  margin: 15px 0 5px 0;
}
.table_list_outer.products_list .box:nth-child(1) img {
  max-width: 40px;
}
.table_list_outer.products_list .box:nth-child(1) {
  text-align: left;
  padding: 0 0 0 10px;
}
.table_list_outer.products_list .box {
  line-height: 40px;
}
.table_list_outer.products_list .box .trash {
  line-height: 14px;
}
.table_list_outer.products_list .box:nth-child(2) {
  text-align: left;
}
.top_borders {
  width: 100%;
  position: absolute;
  top: -21px;
  left: 0;
  display: inline-block;
  overflow: hidden;
  height: 25px;
}
.top_borders .b1 {
  float: left;
  width: 20px;
  height: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  transform: rotate(45deg);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  background-color: #fff;
}
.top_borders .b2 {
  float: left;
  width: 20px;
  height: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  transform: rotate(45deg);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 8px;
  background-color: #fff;
}
* {
-webkit-appearance: unset;
outline: none;
}
.page_wrapper .header form h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #202020;
}.page_wrapper .header form p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #202020;
  margin: 0;
}



.edit_profile_button {
  position: absolute;
  right: 25px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #69F;
  top: 25px;
  background: rgba(255, 255, 255, 0.94);
  border-radius: 42px;
  padding: 10px 20px;
}
.edit_profile_button span {
  color: #fff;
  background-color: #69F;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin: 0 5px 0 0;
}
.cover_photo {
  height: 180px;
  border-radius: 7px;
  background-size: cover;
  background-position: center;
}
.user_info {
  width: 96%;
  display: flex;
  padding: 0 2%;
  margin: -100px 0 0 0;
}
.user_info .image {
  width: 222px;
  height: 208px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  border-radius: 7px;
  margin: 0 25px 0 0;
  position: relative;
}
.user_info .image span {
  background: rgba(0, 0, 0, 0.79);
  border-radius: 6px;
  position: absolute;
  bottom: 7px;
  left: 3%;
  width: 94%;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
  padding: 6px 0;
}
.user_info .user_info_content {
  width: 100%;
  padding: 115px 0 0 0;
}
.user_info_content_box {
  width: 100%;
  display: flex;
}
.user_info_content_box_inner {
  width: 100%;
  padding: 0 10px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #5B5B5B;
}
.user_info_content_box_inner p {
  margin: 0;
}
.user_info_content_box_inner strong {
  ont-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  width: 100px;
  display: inline-block;
}
.shop_bio {
  padding: 20px 0 0 0;
}
.shop_bio ul {
  display: inline-block;
  width: 100%;
}
.shop_bio ul .shop_bio_toggle_button {
  background: #F9F9F9;
  border-radius: 2px;
  cursor: pointer;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #1B1B1B;
  padding: 10px 20px;
}
.shop_bio ul .active.shop_bio_toggle_button {
  background: #69F;
  color: #FFFFFF;
}
.shop_bio_content {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: capitalize;
  color: #727272;
  display: none;
}
.shop_bio_content.active {
  display: block;
  padding: 15px 0 0 0;
}

.recently_view.seller_profile_box {
  display: none;
}
.recently_view.seller_profile_box.active {
  display: block;
}
.user_info .image span input {
  background-color: transparent;
  color: #fff;
  text-align: center;
  border: 0;
  width: 100%;
}
.recently_view.seller_profile_box.edit_view .user_info_content_box_inner p {
  display: flex;
}
.recently_view.seller_profile_box.edit_view .user_info_content_box_inner p strong {
  width: 30%;
}
.recently_view.seller_profile_box.edit_view .user_info_content_box_inner p input {
  background: #F4F4F4;
  border: 0;
  border-radius: 4px;
  width: 70%;
  padding: 0 10px;
}
.recently_view.seller_profile_box.edit_view .user_info_content_box_inner p {
  display: flex;
  margin: 4px 0;
}
.shop_bio_content textarea {
  width: 98%;
  border: 0;
  text-align: left;
  background: #F4F4F4;
  border-radius: 6px;
  padding: 10px 1%;
}



.category_section_inner {
  width: 100%;
  display: inline-block;
}
.category_section_inner .category_section_inner_box {
  float: left;
  width: 49%;
}
.category_section_inner .category_section_inner_box:first-child {
  margin: 0 2% 0 0;
}
.add_product_page .input_box {
  width: 100%;
  position: relative;
}
.add_product_page .input_box label {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  display: block;
  margin: 0 0 2px 0;
}
.add_product_page .input_box select, .add_product_page .input_box input, .add_product_page .input_box textarea {
  width: 100%;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.sub_category_selector {
  width: 100%;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  padding: 6.5px 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.sub_category_selector ul {
  width: 100%;
}
.sub_category_selector ul .previous_selected {
  display: inline-block;
}
.sub_category_selector ul .select_more {
  display: inline-block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  position: relative;
  cursor: pointer;
  padding: 5px 10px;
}
.sub_category_selector ul .select_more ul {
  position: absolute;
  left: 0;
  top: 27px;
  border: 1px solid #828282;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  width: 150px;
  z-index: 123;
  max-width: 150px;
  display: none;
}
.sub_category_selector ul .select_more ul.active{
  display: block;
}
.sub_category_selector ul .previous_selected li {
  cursor: pointer;
  background: #69F;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 5px 0 0;
}
.sub_category_selector ul .select_more ul li {
  display: block;
  margin: 5px 0;
}
.sub_category_selector ul .select_more ul li {
  display: block;
  padding: 5px 0;
  
}
.sub_category_selector ul .select_more ul li.selected {
  cursor: no-drop;
}
.sub_category_selector ul .previous_selected li .remove {
  margin: 0 0 0 5px;
cursor: pointer;
width: 10px;
display: inline-block;
}

.product_info_top {
  display: inline-block;
  width: 100%;
}
.product_info_top .product_info_top_left {
  float: left;
  width: 48%;
}
.product_info_top .product_info_top_right {
  float: right;
  width: 48%;
}
.add_product_page .input_box .featured_image_upload {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  height: 400px;
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.add_product_page .input_box .featured_image_upload .featured_image_upload_inner {
  text-align: center;
  margin: 0 auto;
}
.add_product_page .input_box .featured_image_upload .featured_image_upload_inner p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  text-align: center;
  text-transform: capitalize;
  color: #5B5B5B;
  width: 59%;
  margin: 0 auto;
}
.add_product_page .input_box .featured_image_upload .featured_image_upload_inner p span {
  color: #69F;
  text-decoration: underline;
}
.add_product_page .input_box .featured_image_upload .featured_image_upload_inner .image {
  width: 100px;
  margin: 0 auto 10px;
}
.add_product_page .input_box .product_gallery {
  width: 100%;
  display: inline-block;
}
.add_product_page .input_box .product_gallery .gallery_box {
  background: #F1F1F1;
  border-radius: 5px;
  width: 90px;
  height: 90px;
  display: inline-block;
  margin: 0 10px 10px 0;
  float: left;
}
.add_product_page .input_box .product_gallery .gallery_box.upload_gallery_button {
  text-align: center;
}
.add_product_page .input_box .product_gallery .gallery_box.upload_gallery_button .image {
  width: 50px;
  margin: 8px auto 0;
}
.add_product_page .input_box textarea {
  height: 370px;
}
.add_product_page .input_box.p_description {
  margin: 15px 0 15px 0;
}
.add_product_page .input_box .price_sign {
  position: absolute;
  background: #BDBDBD;
  border-radius: 0px 5px 5px 0px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #313131;
  right: 0;
  top: 26px;
  padding: 10.5px 15px;
}
.add_product_page .input_box .product_gallery .gallery_box.upload_gallery_button p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
}
.product_info_bottom .input_box textarea {
  height: 200px;
}
.product_info_bottom h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  margin: 30px 0 10px 0;
}
.product_info_bottom h3 span {
  color: #69F;
  margin: 0 5px 0 0;
}
.add_product_page .input_box.qty_input {
  width: 300px;
}
.add_product_page .input_box .pcs_sign {
  position: absolute;
  background: #BDBDBD;
  border-radius: 0px 5px 5px 0px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #313131;
  right: 0.5px;
  top: 26px;
  padding: 10.5px 15px;
}
.product_variations_box {
  width: 100%;
  display: inline-block;
}
.product_variations_box .left {
  float: left;
  width: 48%;
}
.product_variations_box .right {
  float: right;
  width: 45%;
}
.product_variations_box h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  margin: 0 0 5px 0;
}
.product_variations_box .attributes_box {
  width: 100%;
  display: flex;
}
.product_variations_box .attributes_box .box {
  width: 100%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #313131;
}
.product_variations_box .attributes_box.col_3 .box:nth-child(1) {
  width: 30%;
  border-right: 1px solid #828282;
}
.product_variations_box .attributes_box.col_3 .box:nth-child(2) {
  width: 30%;
  text-align: center;
  border-right: 1px solid #828282;
}
.product_variations_box .attributes_box.col_3 .box:nth-child(3) {
  width: 40%;
  text-align: right;
}
.product_variations_box .attributes_box.heading .box {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
}
.product_variations_box .attributes_box .box .actions {
  width: 100%;
  display: inline-block;
}
.product_variations_box .attributes_box .box .actions .edit {
  display: inline-block;
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 25px;
}
.product_variations_box .attributes_box .box .actions .remove {
  background: #FF00002B;
  border-radius: 4px;
  display: inline-block;
  height: 23px;
  align-items: center;
  line-height: 23px;
  font-size: 12px;
  padding: 0 7px;
  color: red;
}
.product_variations_box .attributes_box.heading .box {
  border: 0 !important;
}
.product_variations_box .attributes_box.col_3 {
  padding: 10px 2%;
  border: 1px solid #828282;
  border-radius: 8px;
  margin: 0 0 10px 0;
  width: 96%;
}
.product_variations_box .attributes_box.heading.col_3 {
  border: 0;
  padding-bottom: 0;
}

.product_variations_box.veriations {
  margin: 10px 0 0 0;
}
.product_variations_box .attributes_box.col_4 .box:nth-child(1) {
  width: 15%;
}
.product_variations_box .attributes_box.col_4 .box:nth-child(2) {
  width: 35%;
}
.product_variations_box .attributes_box.col_4 .box:nth-child(3) {
  width: 25%;
}
.product_variations_box .attributes_box.col_4 .box:nth-child(4) {
  width: 25%;
  text-align: right;
}
.product_variations_box .attributes_box.col_4 .box p {
  margin: 0;
}
.product_variations_box .attributes_box.col_4 {
  border-bottom: 1px solid #EDEDED;
  padding: 5px 0 5px 0;
}
.product_variations_box .attributes_box.col_4 .box:nth-child(4) .actions {
  margin: 5px 0 0 0;
}
.product_variations_box .input_box {
  margin: 10px 0;
}
.product_variations_box .input_box button {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border: 0;
  padding: 10px 25px;
  margin: 20px 0 0 0;
}
.recently_view.submit_button {
  background: transparent;
  border: 0;
  text-align: center;
}
.recently_view.submit_button button {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #FFFFFF;
  border: 0;
  padding: 10px 25px;
  margin: 0;
}



.shipping_details_columns {
  width: 99%;
  display: inline-block;
}
.shipping_details_columns .left {
  float: left;
  width: 59%;
}
.shipping_details_columns .right {
  float: right;
  width: 40%;
}
.shipping_details_columns .recently_view {
  width: 100%;
  padding: 15px 20px;
}
.recently_view.shipping_details_shop .shipping_details_shop_box {
  width: 100%;
  position: relative;
  display: flex;
}
.shipping_details_shop_box .image {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  overflow: hidden;
  margin: 0 15px 0 0;
}
.shipping_details_shop_box .content h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #000000;
  margin: 10px 0 3px 0;
}
.shipping_details_shop_box .content p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #828282;
  margin: 0;
}
.recently_view.shipping_details_shop .shipping_details_shop_box .view_more {
  position: absolute;
  right: 0;
  top: 10px;
  color: #000;
  cursor: pointer;
}
.recently_view.shipping_details_order_action form {
  width: 100%;
}
.recently_view.shipping_details_order_action form .input_box {
  float: left;
  width: 80%;
  margin: 0 2% 0 0;
}
.recently_view.shipping_details_order_action form .input_box label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;
  color: #000000;
  margin: 0 0 5px 0;
}
.recently_view.shipping_details_order_action form .input_box select {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  padding: 6px 6px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #828282;
}
.recently_view.shipping_details_order_action form button {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #FFFFFF;
  border: 0;
  padding: 5px 0;
  text-align: center;
  width: 18%;
  margin: 30px 0 0 0;
}
.recently_view.shipping_details_order_notes .previous_notes {
  width: 100%;
}
.recently_view.shipping_details_order_notes .previous_notes .previous_note_box {
  padding: 10px;
  border-radius: 5px;
  background: #00C11352;
  margin: 0 0 10px 0;
}
.recently_view.shipping_details_order_notes .previous_notes .previous_note_box .content {
  margin: 0 0 7px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #555758;
}
.recently_view.shipping_details_order_notes .previous_notes .previous_note_box .date span {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #313131;
}
.recently_view.shipping_details_order_notes .previous_notes .previous_note_box .date a {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #FF0000;
  margin: 0 0 0 10px;
}
.recently_view.shipping_details_order_notes .previous_notes .previous_note_box:nth-child(2n) {
  background: #ff000030;
}
.recently_view.shipping_details_order_notes form {
  width: 100%;
  margin: 30px 0 0 0;
}
.recently_view.shipping_details_order_notes form .input_box {
  width: 100%;
}
.recently_view.shipping_details_order_notes form label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;
  color: #000000;
  margin: 0 0 3px 0;
}
.recently_view.shipping_details_order_notes form textarea {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #828282;
}
.recently_view.shipping_details_order_notes form button {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #FFFFFF;
  border: 0;
  padding: 5px 25px;
  text-align: center;
  margin: 10px 0 0 0;
}


.table_list_outer.messages_list .table_list_box .box:nth-child(1) {
  width: 13%;
  text-align: left;
}
.table_list_outer.messages_list .table_list_box .box:nth-child(2) {
  width: 61%;
  text-align: left;
}
.table_list_outer.messages_list .table_list_box .box:nth-child(3) {
  width: 13%;
}
.table_list_outer.messages_list .table_list_box .box:nth-child(4) {
  width: 13%;
  text-align: right;
}
.table_list_outer.messages_list .table_list_box {
  padding: 15px;
}
.table_list_outer.messages_list .table_list_box.table_list_heading {
  padding: 0 15px;
}
.table_list_box.unread_messages {
  background: rgba(148, 193, 31, 0.12);
}
.chat_wrapper.forum_chat .chat_box {
  width: 100%;
}
.chat_wrapper.forum_chat .chat_wrapper_inner .chat_box .chat_with {
  width: 96%;
  padding: 20px 0%;
  display: inline-block;
  height: 50px;
  border-bottom: 1px solid #EDEDED;
  margin: 0 2%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #000000;
}
.chat_wrapper.forum_chat .message_wrapper {
  width: 96%;
  display: inline-block;
  padding: 10px 2%;
}
.chat_wrapper.forum_chat .chat_form {
  margin: 10px 2%;
  position: relative;
  width: 96%;
  border: 1px solid #989BA1;
  box-sizing: border-box;
  border-radius: 3px;
  background: #FFFFFF;
  display: flex;
}
.chat_wrapper.forum_chat .message_wrapper .message.you .image {
  float: left;
  margin: 0 10px 0 0;
}
.chat_wrapper.forum_chat .message_wrapper .message.you .content {
  float: left;
  background: unset;
  padding-top: 0;
  padding-bottom: 0;
}
.chat_wrapper.forum_chat .message_wrapper .message {
  width: 100%;
  display: flex;
  float: left;
}
.chat_wrapper.forum_chat .message_wrapper .message .content {
  float: left;
  max-width: 93%;
  display: inline-block;
}
.chat_wrapper.forum_chat .message_wrapper .message .content .time {
  position: relative;
  bottom: unset;
  color: #989BA1;
  font-size: 10px;
  right: unset;
  display: block;
  width: 100%;
  left: unset !important;
}
.chat_wrapper.forum_chat .chat_wrapper_inner .chat_box .chat_with .backtochats {
  display: block;
  margin: 0 0 10px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  cursor: pointer;
}
.chat_wrapper.forum_chat .chat_wrapper_inner .chat_box .chat_with .backtochats i {
  margin: 0 6px 0 0;
}
.chat_wrapper.forum_chat  .chat_wrapper_inner {
  width: 100%;
  display: inline-block;
  height: 640px;
}


.actions .view_details.t_bg_button {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  color: #000;
}
.actions .view_details.add_green_border {
  border: 1px solid #69F;
  padding: 6px 15px;
}
.table_list_outer.transactions_list .table_list_box .box:nth-child(1), .table_list_outer.transactions_list .table_list_box .box:nth-child(2), .table_list_outer.transactions_list .table_list_box .box:nth-child(4), .table_list_outer.transactions_list .table_list_box .box:nth-child(5), .table_list_outer.transactions_list .table_list_box .box:nth-child(6) {
  width: 30%;
}
.table_list_outer.transactions_list .table_list_box .box:nth-child(3) {
  text-align: left;
  padding-left: 20px;
}
.Received {
  color: #00C113;
}
.sent {
  color: #FF0000;
}



.balance_details_inner {
  width: 100%;
  display: inline-block;
}
.balance_details_inner .left {
  float: left;
  text-align: center;
  margin: 0 0 0 15px;
}
.balance_details_inner .right {
  float: right;
  text-align: right;
  margin: 30px 15px 0 0;
}
.balance_details_inner .left .image {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  overflow: hidden;
}
.balance_details_inner .left h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  margin: 5px 0 0 0;
}
.balance_details_inner .right h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  text-transform: capitalize;
  color: #313131;
}
.balance_details_inner .right h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  text-align: right;
  color: #69F;
  margin: 15px 0;
}
.balance_details_inner .right a {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  align-items: center;
  color: #FFFFFF;
  background: #69F;
  border-radius: 5px;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px 0 0 0;
}
.table_list_outer.transactions_list.recent_transactions .table_list_box .box:nth-child(2) {
  width: 80%;
  text-align: left;
  padding: 0 0 0 30px;
}
.table_list_outer.transactions_list.recent_transactions .table_list_box .box:nth-child(3) {
  text-align: center;
  padding-left: unset;
  width: 30%;
}
.recently_view.Disputes_page .filter_orders {
  border: 0;
  margin: 0;
}
.recently_view.Disputes_page .classifications {
  border-bottom: 1px solid #EDEDED;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}
.recently_view.Disputes_page .classifications a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.44px;
  color: #000;
}
.recently_view.Disputes_page .classifications a.active {
  color: #69F;
}
.recently_view.Disputes_page .classifications a:first-child {
  margin: 0 30px 0 0;
}

.Open {
  color: #CB3636;
  background: #F8E5B9;
  border-radius: 29px;
  padding: 5px 10px;
  display: inline-block;
}
.Resold {
  border-radius: 29px;
  padding: 5px 10px;
  color: #CB3636;
  background: #F8B9B9;
  display: inline-block;
}
.eye_button {
  border: 1px solid #69F;
  box-sizing: border-box;
  border-radius: 4px;
  color: #69F;
  padding: 5px 5px;
  font-size: 14px;
}
.table_list_outer.dispute_list .table_list_box {
  padding-left: 15px;
  padding-right: 15px;
}
.table_list_outer.dispute_list .table_list_box .box:nth-child(1) {
  text-align: left;
  width: 50%;
}
.table_list_outer.dispute_list .table_list_box .box:nth-child(7) {
  text-align: right;
  width: 50%;
}

.chat_wrapper.forum_chat.dispute_chat .chat_wrapper_inner {
  height: unset;
}
.chat_wrapper.forum_chat.dispute_chat .chat_wrapper_inner h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;
  color: #69F;
  margin: 0 2%;
}
.chat_wrapper.forum_chat.dispute_chat .chat_wrapper_inner p {
  margin: 10px 2%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;
  color: #000000;
}
.chat_wrapper.forum_chat.dispute_chat .chat_wrapper_inner .chat_with {
  border: 0;
}
.chat_wrapper.forum_chat.dispute_chat .dispute_chat_outer {
  width: 96%;
  margin: 0 auto 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 0 10px 0;
  overflow: hidden;
}
.chat_wrapper.forum_chat.dispute_chat .message.you {
  float: right;
}
.chat_wrapper.forum_chat.dispute_chat .message .content {
  max-width: 70%;
}
.chat_wrapper.forum_chat.dispute_chat .message.you .image {
  float: right;
  margin: 0 0 0 10px;
}
.chat_wrapper.forum_chat.dispute_chat .message {
  display: inline-block;
}
.chat_wrapper.forum_chat.dispute_chat .message.you .content {
  float: right;
  border: 1px solid #1D75DD;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 10px;
}
.profile_upload_box.input_box .featured_image_upload {
  width: 150px;
  background: #FFFFFF;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.profile_upload_box.input_box .featured_image_upload .featured_image_upload_inner {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
.profile_upload_box.input_box .featured_image_upload .featured_image_upload_inner .image {
  width: 60px;
  margin: 0 auto;
}
.profile_upload_box.input_box .featured_image_upload .featured_image_upload_inner p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 135%;
  text-align: center;
  text-transform: capitalize;
  color: #5B5B5B;
  width: 100%;
  margin: 0 auto;
}
.profile_upload_box.input_box .featured_image_upload .featured_image_upload_inner p span {
  color: #69F;
  text-decoration: underline;
}


.categories_page_wrapper {
  display: flex;
  width: 100%;
}
.categories_page_wrapper .left {
  float: left;
  width: 35%;
}
.categories_page_wrapper .right {
  width: 70%;
  margin: 0 0 0 1%;
}
.recently_view.category_section.add_product_page.add_category_form {
  width: 100%;
  padding: 0 5%;
  height: 98%;
}
.recently_view.categories_list_box {
  width: 100%;
  padding: 15px 2%;
}
.recently_view.category_section.add_product_page h2 {
  margin: 15px 0;
}
.recently_view.categories_list_box {
  width: 100%;
  padding: 0 2%;
  height: 98%;
}
.recently_view.categories_list_box h2 {
  margin: 15px 0;
}
.recently_view.category_section.add_product_page.add_category_form .category_section_inner_box {
  width: 100%;
  margin: 0 0 15px 0;
}
.input_box .submit_buttons {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #FFFFFF;
  border: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  display: inline-block;
  margin: 10px 0 0 0;
}
.recently_view.categories_list_box .table_list_box {
  padding-left: 15px;
  padding-right: 15px;
}
.recently_view.categories_list_box .table_list_box .box:nth-child(1) {
  text-align: left;
}
.recently_view.categories_list_box .table_list_box .box:nth-child(4) {
  text-align: right;
}
.recently_view.categories_list_box .table_list_box .box img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
  overflow: hidden;
}
.recently_view.categories_list_box .table_list_box .actions .view_details {
  padding: 5px 20px;
}
.table_list_outer.orders_list_items .box .dispute {
  background: #F00;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #FFFFFF;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0 0 0;
}
.dispute_popup {
  display: none;
  position: fixed;
  z-index: 123;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
}
.dispute_popup.active{
  display: flex;
}
.wrapper.blur{
  filter: blur(0.2rem);
}
.dispute_popup_inner {
  margin: 0 auto;
  width: 450px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
.dispute_popup_inner .hide_dispute_popup {
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.dispute_popup_inner h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
  margin: 10px auto;
  width: 100%;
}
.dispute_popup_inner .input_box {
  margin: 10px 0;
}
.dispute_popup_inner .input_box label {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  display: block;
}
.dispute_popup_inner .input_box input {
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #A4A4A4;
  padding: 10px;
  width: 100%;
}
.dispute_popup_inner .input_box textarea {
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #A4A4A4;
  padding: 10px;
  width: 100%;
  height: 200px;
}
.dispute_popup_inner h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
}
.dispute_popup_inner .seller_info {
  margin: 30px 0;
  padding: 30px 0;
  border-top: 1px solid #A4A4A4;
  border-bottom: 1px solid #A4A4A4;
}
.dispute_popup_inner .seller_info .seller_info_inner {
  width: 100%;
  display: inline-block;
}
.dispute_popup_inner .seller_info .seller_info_inner .image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 15px 0 0;
  float: left;
}
.dispute_popup_inner .seller_info .seller_info_inner .content {
  float: left;
}
.dispute_popup_inner .seller_info .seller_info_inner .content h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #000000;
  margin: 4px 0 0 0;
}
.dispute_popup_inner .seller_info .seller_info_inner .content p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #828282;
  margin: 0;
}
.dispute_popup_inner .submit_button {
  text-align: center;
}
.dispute_popup_inner .submit_button button {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 0 15px 0;
}
.user_page_wrapper {
  width: 500px;
  margin: 0 auto;
}
.user_page_wrapper .buyer_seller_toggle {
  display: inline-block;
  margin: 15px 0;
}
.user_page_wrapper .buyer_seller_toggle a {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  margin: 0 15px 0 0;
  padding: 0 0 0 0;
}
.user_page_wrapper .buyer_seller_toggle a.active {
  color: #69F;
  border-bottom: 1.5px solid #69F;
}
.user_page_wrapper h2 {
  border-bottom: 1px solid #EDEDED;
  padding: 5px 0 15px 0;
}
.user_page_wrapper .input_box {
  margin: 10px 0;
}
.user_page_wrapper .input_box .submit_buttons {
  margin: 10px 0 30px 0;
}
.fields_for_sellers {
  display: none;
}
.fields_for_sellers.active {
  display: block;
}
.user_page_wrapper .profile_photos {
  display: flex;
}
.user_page_wrapper .profile_photos .profile_upload_box.input_box {
  width: 165px;
}
.user_page_wrapper .profile_photos .profile_upload_box.input_box.fields_for_sellers.active {
  width: 290px;
}
.profile_upload_box.input_box.fields_for_sellers.active .featured_image_upload {
  width: 100%;
}
.profile_upload_box.input_box.fields_for_sellers.active .featured_image_upload .featured_image_upload_inner {
  width: 100px;
}
.total_users_products {
  width: 99%;
  display: flex;
}
.total_users_products .total_users_products:first-child {
  margin-right: 2%;
}
.total_users_products_inner {
  width: 100%;
  position: relative;
  margin: 10px 0;
}
.total_users_products_inner .icon_box {
  float: left;
  border: 2px solid #69F;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #69F;
  font-size: 28px;
  float: left;
  margin: 0 15px 0 0;
}
.total_users_products_inner .icon_box i {
  margin: 0 auto;
}
.total_users_products_inner .content {
  float: left;
}
.total_users_products_inner .content h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;
  color: #000000;
  margin: 5px 0 0 0;
}
.total_users_products_inner .content h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #69F;
}
.total_users_products_inner .Manage {
  position: absolute;
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #FFFFFF;
  right: 0;
  top: 18px;
  padding: 10px 20px;
}
.user_page_wrapper .recently_view.category_section.add_product_page {
  padding: 0px 3%;
}


.show_side_bar {
  float: left;
  width: 4%;
  margin: 18px 0 0 0;
}
.show_side_bar {
  float: left;
  width: 4%;
  font-size: 24px;
}
.show_side_bar i{
  cursor: pointer;
}

.menu.menu_desktop li {
  margin: 10px 15px 0 0;
  position: relative;
  padding: 0 0 5px 0;
}


.menu.menu_desktop li ul {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 6px 20px -18px #000;
  min-width: 200px;
  top: 20px;
  left: 0;
  padding: 10px 10px;
  display: none;
  z-index: 1;
}
.menu.menu_desktop li ul.sub_menu li {
  width: 100%;
}
.menu.menu_desktop li .sub_menu ul {
  left: 100%;
  top: 0;
}
.menu.menu_desktop li ul li a {
  font-size: 14px;
}
.menu.menu_desktop li:hover ul.sub_menu {
  display: block;
}
.menu.menu_desktop .sub_menu li:hover ul {
  display: block;
}
.menu.menu_desktop li a {
  color: #000;
}
.menu.menu_desktop li a.active {
  color: #69F;
}
.negative {
  color: red;
}
.positive {
  color: green;
}
.recently_view_t_bg a.highlight {
  background: #001CFF;
}

.user.user_section_header {
  position: relative;
}
.user.user_section_header ul {
  position: absolute;
  top: 60px;
  right: 0;
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: hidden;
  display: none;
  max-width: unset;
  z-index: 123;
}
.user.user_section_header ul.active{
  display: block;
}
.user.user_section_header ul li {
  display: block;
  width: 100%;
}
.user.user_section_header ul li a {
  display: block;
  width: 100% !important;
  height: unset !important;
  padding: 10px 5px;
  color: #333;
  font-size: 14px;
}
.walmart_api_error {
  text-align: center;
  background: #f003;
  font-size: 12px;
  padding: 5px 0;
}

.link_found {
  color: #69F;
}
.link_not_found {
  color: #000;
}