.mobile_header .header_inner .box4 {
    width: 200px;
    float: right;
    margin: 4px 0 0 0;
}
.mobile_header .header_inner .box4 .cart a .cart_icon {
    float: left;
    background: unset;
    border-radius: 4px;
    color: #202020;
    padding: 5px 7px;
    font-size: 12px;
    margin: 8px 0 0 0;
}
.mobile_header .header_inner .box4 .my_account {
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #232323;
    margin: 11px 0 0 0;
}
.mobile_header .header_inner .box4 .cart a .cart_text{
    font-weight: 600;
}
.mobile_header .header_inner .box1 {
    float: left;
    width: 100px;
}
.mobile_header .header:first-child {
    border: 0;
    padding: 10px 0 0 0;
}
.mobile_header .header:last-child {
    border: 0;
    padding: 10px 0 10px 0;
}
.mobile_header .header_inner .box2 {
    width: 50px;
    float: left;
    position: relative;
}
.mobile_header .shop_by_categories1 {
    background: unset;
    border-radius: 4px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 16px;
    text-transform: capitalize;
    color: #232323;
}
.mobile_header .header_inner .box3 {
    width: 90%;
    float: right;
    padding: 0;
}



/*.mobile_menu{
    display: none;
}
.mobile_header{
    display: none;
}*/



.mobile_menu {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 123;
    top: 0;
    left: 0;
}
.mobile_menu.active{
    display: block;
}
.mobile_sub_categories {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}
.mobile_sub_categories.active{
    display: block;
}
.mobile_inner_sub_categories{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}
.mobile_inner_sub_categories.active{
    display: block;
}
.mobile_inner_sub_categories_inner{
    display: none;
    height: 100%;
}
.mobile_inner_sub_categories_inner.active{
    display: block;
}
.mobile_sub_categories_inner{
    display: none;
    height: 100%;
}
.mobile_sub_categories_inner.active{
    display: block;
}


.mobile_menu_inner {
    position: fixed;
    top: 123px;
    background-color: #fff;
    width: 100%;
}
.mobile_main_categories {
    width: 100%;
    height: 100%;
}
.mobile_menu_header {
    display: inline-block;
    width: 100%;
    position: relative;
}
.mobile_menu_header .left {
    position: absolute;
    top: 0;
    left: 0;
}
.mobile_menu_header .right {
    position: absolute;
    top: 0;
    right: 0;
}
.mobile_menu_header .left span {
    color: #000;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
}
.mobile_menu_header .right span {
    color: #000;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
}
.mobile_menu_header .center {
    width: 100%;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #232323;
    padding: 15px 0;
}
.mobile_categories {
    width: 100%;
    /*height: 100%;*/
    overflow-y: scroll;
}
.mobile_categories ul {
    display: block;
    width: 100%;
}
.mobile_categories ul li {
    width: 100%;
}
.mobile_categories ul li a {
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #000000;
}
.mobile_categories ul li a i {
    float: right;
}
.mobile_menu_header .center p {
    margin: 10px 0 0 0;
}
.mobile_menu_header .center p a {
    color: #000;
}
.mobile_categories ul li ul li a {
    font-weight: 400;
    padding: 4px 15px;
    font-size: 12px;
}


.mobile_header {
    display: none;
}
.show_filters{
    display: none;
}
.close_filter{
    display: none;
}
@media only screen and (max-width: 1280px) {
.header .container {
    width: 96%;
}
.big_container {
    width: 96%;
}
.top_bar .container {
    width: 96%;
}
.container {
    width: 96%;
}
}
@media only screen and (max-width: 1170px) {
.header_inner .box3 {
    width: 45%;
}
.header_inner .box2 {
    width: 22%;
}
.header_inner .box4 {
    width: 14%;
}
.header_menu_inner li {
    padding: 15px 15px;
}
.header_menu_inner ul {
    width: 100%;
    text-align: center;
}
.products_loop_inner .product_box {
    width: 31%;
}
.image_gallery .for_images_arrow.right{
    bottom: 45px;
}
.image_gallery .for_images_arrow.left{
    bottom: 45px;
}
.account_wrapper .account_slider {
  width: 60%;
  height: 100%;
}
.account_form {
  width: 100%;
  padding: 0 40px;
  position: relative;
}
}
@media only screen and (max-width: 900px) {
    .account_wrapper .account_slider {
  width: 50%;
  height: 100%;
}
    .mobile_header {
        display: block;
    }
    .mobile_header .header{
        display: block;
    }
    .top_bar{
        display: none;
    }
    .header{
        display: none;
    }
    .header_menu{
        display: none;
    }
    .banner{
        padding: 30px 0;
        background-size: cover;
    }
    .newsletter .newsletter_inner {
    width: 500px;
    padding: 30px 0;
}
.newsletter_form {
    width: 90%;
}
.newsletter .newsletter_inner h2{
    font-size: 20px;
}
.top_2_categories .category_box{
    height: 240px;
}
.category_box .category_name_link h2{
    font-size: 20px;
line-height: 50px;
}
.\33 _categories .category_box{
    height: 240px;
}
.product_box .details .name .rating{
    font-size: 12px;
}
.mobile_menu_inner{
    width: 370px;
    top:0;
}
.show_filters {
    display: inline-block;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    border: 2px solid #000;
    padding: 0 15px;
    border-radius: 30px;
    cursor: pointer;
    margin: 8px 0 0 0;
}

.filters {
    float: left;
    width: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    z-index: 123123;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}
.filters.active{
    left: 0;
}
.close_filter{
    display: block;
}
.filters_inner {
    width: 260px;
    background-color: #fff;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}
.products_loop {
    float: right;
    width: 100%;
}
.close_filter {
    color: #000;
    font-size: 20px;
    margin: -5px 0 10px 0;
    text-align: right;
}
.page_title_inner p.total_results {
    position: relative;
    top: 10px;
}

.product_image_details_inner .left {
    float: left;
    width: 100%;
}
.top_images .image img {
    margin: 0 auto;
}
.product_image_details_inner .right {
    float: right;
    width: 100%;
    margin: 30px 0;
}
.reviews_and_details_inner .left {
    float: right;
    width: 100%;
}
.reviews_and_details_inner .right {
    float: left;
    width: 100%;
    margin: 15px 0 0 0;
}
.image_gallery .slider_arrows{
    display: none;
}
.seller_profile_info_box {
  width: 100%;
  display: inline-block;
}
.seller_profile_info_box .left {
  width: 100%;
  display: flex;
}
.seller_profile_info_box .right {
  width: 100%;
}
.seller_profile_info_box .right .bio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: capitalize;
  color: #727272;
  margin: 20px 0 0 0;
}

}
@media only screen and (max-width: 800px) {
.cart_items_items .cart_products .image {
    float: left;
    width: 50px;
    height: 50px;
}
.cart_items_items .cart_products .details {
    float: left;
    margin: 0 0 0 0;
    display: block;
width: 100%;
}
.cart_items_items .cart_products .details h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #202020;
    margin: 20px 0 0 0;
}
.cart_items_items .cart_products .details p {
    margin: 10px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #202020;
}
.cart_items_items .price {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #202020;
}
.cart_items_items .qty {
    border: 1px solid #000000;
    width: 50px;
    height: 150px;
    line-height: 55px;
    display: inline-block;
    color: #000;
}
.cart_items_items .qty .input {
    width: 100%;
    float: left;
    height: 50px;
}
.cart_items_items .qty .input input {
    border: 0;
    text-align: center;
    width: 50px;
    border: unset;
    background: transparent;
}
.cart_items_items .qty .minus {
    float: left;
    width: 50px;
    text-align: center;
    line-height: 50px;
    height: 50px;
}
.cart_items_items .qty .plus {
    float: left;
    width: 50px;
    text-align: center;
    line-height: 50px;
    height: 50px;
}
.cart_items_items .price_total {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #202020;
}
.cart_items_labels h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
    padding: 0 0 15px 0;
}
.about_page_section_inner_inner {
  width: 100%;
  margin: 0 auto;
}
.about_page_section_with_image_inner {
  display: inline-block;
  width: 100%;
}
.about_page_section_with_image_inner .image {
  width: 100%;
  height: 400px;
}
.office_address {
  padding: 30px 30px 0 30px;
}
}
@media only screen and (max-width: 600px) {
    .account_wrapper .account_slider {
  width: 50%;
  height: 100%;
  display: none;
}
.top_2_categories .category_box .category_name_link h2 a{
    display: none;
}
.products_loop_inner .product_box {
    width: 48%;
}
.image_gallery .slider_arrows{
    display: none;
}
.reviews_and_details_inner .reviews_list .reviews_list_box .details {
    width: 80%;
    float: right;
}
.checkout_process {
  position: relative;
  right: 0;
  width: 300px;
  height: 55px;
  top: 0;
  margin: 30px auto 0;
}
.page_title.checkout_pages h2 {
  text-align: center;
  width: 100%;
}
.page_title.checkout_pages p {
  width: 100%;
  text-align: center;
}
.checkout_form_inner form {
  width: 90%;
  margin: 50px auto 0;
}
.payment_redios_option {
  width: 100%;
  margin: 0 auto;
}
.search_topic_inner form {
  width: 100%;
}
.interest_links {
  width: 100%;
  margin: 0 auto;
}
.faqs {
  width: 100%;
  margin: 0 auto;
}
.interest_links li {
  margin: 8px 0;
  width: 100%;
}



}
@media only screen and (max-width: 525px) {
    .mobile_header .header_inner .box3 {
    width: 83%;
}
}
@media only screen and (max-width: 480px) {
    .seller_profile_info_box .left .image {
  width: 100px;
  height: 100px;
  margin: 15px 0 0 0;
}
.seller_profile_info_content {
  margin: 0 0 0 10px;
}
.seller_profile_info_content h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  margin: 0 0 0 0;
}
    .checkout_form_inner h2{
        font-size: 20px;
    }
    .payment_redios_option.active .heading_option .left{
        font-size: 16px;
    }
    .payment_redios_option .heading_option .left{
        font-size: 16px;
    }
    .payment_redios_option .heading_option .right {
  float: right;
  width: 100px;
}
.payment_redios_option {
  width: 100%;
  margin: 10px auto;
}
.checkout_form.pay_ment_form .checkout_form_inner .payment_form {
  background-color: #F5F8F9;
  padding: 20px;
  margin: 30px 0;
}
.search_topic_inner {
  background: #F5F8F9;
  width: 100%;
  padding: 20px;
}
.search_topic_inner h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
  width: 100%;
  margin: 0 0 10px 0;
}
.search_topic_inner form input {
  width: 70%;
  }
  .search_topic_inner form button{
    width: 22%;
  }
    .checkout_section .checkout {
    width: 100%;
    float: right;
}
    .shorting_option .sort_by {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    float: left;
    width: 50%;
    text-align: left;
}
.shorting_option .view_by {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    float: right;
    margin: 0 0 0 30px;
    width: 50%;
    margin: 0;
    text-align: left;
}
    .show_filters {
    width: 100%;
    padding: 5px 0;
    margin: 0 0 10px 0;
}
.pagination li {
    margin: 0 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    background: #E4E4E4;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #000000;
    line-height: 30px;
}
    .shorting_option{
        position: relative;
    }
    .banner_inner h1{
        font-size: 36px;
line-height: 60px;
    }
    .banner_inner {
    width: 100%;
}
.banner_inner h2{
    font-size: 24px;
}
.banner_inner a {
    width: 180px;
    height: 40px;
    background: #000000;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFF;
    line-height: 40px;
}
.heading h2{
    font-size: 18px;
}
.top_2_categories .category_box .category_name_link h2 {
    text-align: center;
}
.category_box .category_name_link h2 {
    font-size: 14px;
    line-height: 50px;
}
.product_box .details .name a{
    height: 24px;
    font-size: 14px;
line-height: 24px;
width: 100%;
}
.product_box .details .name .rating {
    float: right;
    width: 100%;
    text-align: left;
    margin: 5px 0 0 0;
    font-size: 12px;
}
.product_box .image {
    height: 150px;
}
.product_box .details .price{
    font-size: 14px;
}
.big_sale h1{
    font-size: 24px;
}
.big_sale p{
    font-size: 14px;
}
.big_sale a {
    width: 150px;
    height: 40px;
    background: #FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    text-transform: capitalize;
    color: #000000;
    margin: 18px 0 0 0;
}
.big_sale {
    text-align: center;
    padding: 50px 0 60px 0;
    margin: 70px 0 0 0;
}
.newsletter{
    padding: 30px 0;
}
.newsletter .newsletter_inner {
    width: 85%;
}
.newsletter_form form button {
    height: 45px;
    background: #000000;
    border-radius: 0px 6px 6px 0px;
    border: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 156.6%;
    text-align: center;
    text-transform: capitalize;
    color: #FFF;
    position: absolute;
    right: 0;
    padding: 0 25px;
    cursor: pointer;
}
.newsletter_form form input {
    height: 45px;
}
.newsletter .newsletter_inner h2 {
    font-size: 16px;
    line-height: 26px;
    width: 90%;
}
.footer_top_inner .box_1 {
    width: 50%;
    float: left;
    padding: 50px 0 0 0;
}
.footer_top{
    padding: 0 0 60px 0;
}
.footer_top_inner .box_1 h3{
    margin: 0 0 10px 0;
}
.copyrights_inner .left {
    float: left;
    width: unset;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 223.1%;
    text-transform: capitalize;
    color: #9C9C9C;
    padding: 10px 0;
}
.top_2_categories .category_box {
    height: 200px;
    background-size: cover;
    background-position: center;
}
.\33 _categories .category_box {
    height: 150px;
    background-size: cover;
    background-position: center;
}
.\33 _categories {
    width: 100%;
    display: inline-block;
    margin: 5px 0 0 0;
}
.mobile_menu_header .center{
    width: 100%;
text-align: center;
font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
text-transform: capitalize;
color: #232323;
padding: 10px 0;
}
.mobile_menu_inner{
    width: 100%;
    top: 123px;
}
}
@media only screen and (max-width: 400px) {
    .account_form {
  width: 100%;
  padding: 0 20px;
  position: relative;
}
    .payment_redios_option .heading_option .right {
  float: right;
  width: 100px;
  margin: 8px 0 0 0;
}

    .reviews_and_details_inner .reviews_list .reviews_list_box .details {
        width: 75%;
        float: right;
    }
}