@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
-webkit-appearance: unset;
outline: none;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Poppins', sans-serif;*/
	color: #fff;
}
li, h1, h2, h3, h4, h5, h6, ul, a, img{
	max-width: 100%;
	list-style: none;
	display: inline-block;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
}
.big_container{
    width: 1280px;
    margin: 0 auto;
    display: flex;
}
.top_bar {
    background-color: #000;
    padding: 7px 0;
}
.top_bar_inner {
    display: inline-block;
    width: 100%;
}
.top_bar_inner .left {
    float: left;
    width: 50%;
}
.top_bar_inner .right {
    float: right;
    text-align: right;
    width: 50%;
}
.top_bar_inner li a {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.top_bar_inner .left li {
    border-right: 1px solid #fff;
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
}
.top_bar_inner .right li {
    margin: 0 0 0 20px;
}


.header .container {
    width: 1280px;
}
.top_bar .container {
    width: 1280px;
}
.header_inner {
    width: 100%;
    display: inline-block;
}
.header_inner .box1 {
    float: left;
    width: 17%;
}
.header_inner .box2 {
    width: 18%;
    float: left;
    position: relative;
}
.header_inner .box3 {
    width: 53%;
    float: left;
    padding: 0 1%;
}
.header_inner .box4 {
    width: 10%;
    float: left;
}

.shop_by_categories {
    background: #F3F3F3;
    border-radius: 4px;
    width: 100%;
    padding: 14px 0;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #232323;
    cursor: pointer;
}
.shop_by_categories .s_b_c_2 {
    padding: 0 10px;
}
.header_inner .box3 form {
    width: 100%;
    position: relative;
}
.header_inner .box3 form input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 13px 15px;
}
.header_inner .box3 form button {
    position: absolute;
    right: 0;
    top: 0;
    background: #69F;
    border-radius: 0px 4px 4px 0px;
    border: 0;
    color: #fff;
    padding: 12px 27px;
    font-size: 16px;
    margin: 0 -1px 0 0;
}
.header_inner .box4 .cart {
    float: right;
}
.header_inner .box4 .cart a {
    display: inline-block;
    width: 100%;
}
.header_inner .box4 .cart a .cart_icon {
    float: left;
    background: #202020;
    border-radius: 4px;
    color: #fff;
    padding: 11px 15px;
}
.header_inner .box4 .cart a .cart_text {
    float: left;
    color: #000;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    color: #000000;
    margin: 4px 0 0 6px;
}
.header_inner .box4 .cart a .cart_text .cart_item_bount {
    display: block;
}
.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 25px 0 5px 0;
}
.top_bar_inner .left li:last-child {
    border: 0;
}
.header_menu_inner {
    width: 100%;
    position: relative;
}
.header_menu_inner a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 00;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #000000;
}
.header_menu_inner li {
    padding: 15px 27px;
}
.banner_section {
    background: #F5F8F9;
}


.banner {
    background-size: 100% auto;
    padding: 50px 0;
    background-repeat: no-repeat;
}
.banner_inner h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
}
.banner_inner h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #85990C;
    display: block;
}
.banner_inner p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.475em;
    text-transform: capitalize;
    color: #000000;
}
.banner_inner a {
    width: 180px;
    height: 50px;
    background: #000000;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFF;
    line-height: 50px;
}


.categories_inner {
    width: 100%;
}
.heading {
    width: 100%;
    display: inline-block;
    padding: 30px 0;
}
.heading h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    float: left;
}
.heading .right {
    float: right;
    display: inline-block;
}
.heading .right .view_all {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #000000;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 5px 15px;
    float: left;
}
.heading .right .slider_arrows {
    float: right;
    margin: 5px 0 0 20px;
}
.heading .right .slider_arrows .left {
    color: #000;
    margin: 0 10px 0 0;
    float: left;
width: 30px;
font-size: 20px;
cursor: pointer;
}
.heading .right .slider_arrows .right {
    color: #000;
    float: left;
width: 30px;
font-size: 20px;
cursor: pointer;
}

.top_2_categories {
    display: inline-block;
    width: 100%;
}
.top_2_categories .category_box {
    width: 49%;
    float: left;
    height: 340px;
    background-size: cover;
}
.category_box .category_name_link {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.92%, rgba(0, 0, 0, 0.87) 100%);
    height: 100%;
    position: relative;
}
.category_box .category_name_link h2 {
    bottom: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.top_2_categories .category_box:first-child {
    margin: 0 2% 0 0;
}
.\33 _categories {
    width: 100%;
    display: inline-block;
    margin: 17px 0 0 0;
}
.\33 _categories .category_box {
    width: 32%;
    float: left;
    height: 340px;
    margin: 0 2% 0 0;
}
.\33 _categories .category_box:last-child {
    margin: 0;
}
.top_2_categories .category_box .category_name_link h2 {
    text-align: left;
    padding: 0 4%;
    width: 92%;
    display: inline-block;
}
.top_2_categories .category_box .category_name_link h2 a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 181.6%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    border: 1.5px solid #fff;
    float: right;
    padding: 5px 20px;
    margin: 5px 0 0 0;
}
.categories {
    width: 100%;
    padding: 30px 0 0 0;
}

.products_inner {
    width: 100%;
}
.product_box {
    margin: 0 10px;
    position: relative;
}

.product_box:hover .wishlist_cart span:last-child {
    opacity: 1;
    background: #69F;
    color: #fff;
}
.product_box:hover .wishlist_cart span:first-child {
    background: #0C0C0C;
    color: #fff;
}
.product_box .wishlist_cart {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.3s;
}
.product_box .wishlist_cart span {
    width: 45px;
    height: 45px;
    display: block;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    margin: 0 0 5px 0;
    border-radius: 5px;
    color: #0C0C0C;
    transition: 0.3s;
}
.product_box .wishlist_cart span:last-child {
    
    opacity: 0;
    color: #fff;
}
.product_box .image {
    height: 300px;
    background-size: cover;
    background-position: center;
}
.product_box .image a {
    display: block;
    width: 100%;
    height: 100%;
}
.product_box .details .name {
    width: 100%;
    display: inline-block;
}
.product_box .details .name a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
    width: 70%;
    float: left;
    text-align: left;
    height: 32px;
    overflow: hidden;
}
.product_box .details .name .rating {
    float: right;
    width: 30%;
    text-align: right;
    margin: 5px 0 0 0;
}
.product_box .details .name .rating i {
    color: #000;
    font-size: 10px;
}
.product_box .details .price {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 181.6%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin: 0;
    text-align: left;
}
.product_box .details {
    margin: 10px 0 0 0;
}
.products {
    padding: 40px 0 0 0;
}


.big_sale {
    text-align: center;
    padding: 70px 0 150px 0;
    margin: 70px 0 0 0;
}
.big_sale h1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.big_sale p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
}
.big_sale a {
    width: 206px;
    height: 61px;
    background: #FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 61px;
    text-transform: capitalize;
    color: #000000;
    margin: 25px 0 0 0;
}

.newsletter {
    text-align: center;
    background: #69F;
    padding: 50px 0;
}
.newsletter .newsletter_inner {
    width: 900px;
    margin: 0 auto;
    border: 3px dashed #fff;
    padding: 50px 0;
}
.newsletter .newsletter_inner h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 386px;
}
.newsletter_form {
    width: 700px;
    margin: 20px auto 0;
}
.newsletter_form form {
    position: relative;
    width: 100%;
}
.newsletter_form form input {
    height: 54px;
    background: #F8F8F8;
    border-radius: 6px;
    border: 0;
    padding: 0 2%;
    width: 96%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    color: #848484;
}
.newsletter_form form button {
    height: 54px;
    background: #000000;
    border-radius: 0px 6px 6px 0px;
    border: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 156.6%;
    text-align: center;
    text-transform: capitalize;
    color: #FFF;
    position: absolute;
    right: 0;
    padding: 0 25px;
    cursor: pointer;
    margin: 0 -1px 0 0;
}
.footer_top {
    background: #F9F9F9;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 60px 0;
}
.footer_top_inner {
    width: 100%;
    display: inline-block;
}
.footer_top_inner .box_1 {
    width: 25%;
    float: left;
}
.footer_top_inner .box_1 h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
    margin: 0 0 30px 0;
}
.footer_top_inner .box_1 ul {
    display: block;
}
.footer_top_inner .box_1 ul li {
    width: 100%;
    display: block;
}
.footer_top_inner .box_1 ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 223.1%;
    text-transform: capitalize;
    color: #1D1D1D;
}
.footer_top_inner .box_1 ul.social_account li {
    display: inline-block;
    width: unset;
}
.footer_top_inner .box_1 ul.social_account li {
    display: inline-block;
    width: unset;
    margin: 10px 10px 0 0;
}
.copyrights {
    background: #F9F9F9;
}
.copyrights_inner {
    width: 100%;
    display: inline-block;
}
.copyrights_inner .left {
    float: left;
    width: 50%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 223.1%;
    text-transform: capitalize;
    color: #9C9C9C;
    padding: 10px 0;
}
.copyrights_inner .right {
    float: right;
}
.copyrights_inner .right img {
    margin: 15px 0 0 0;
}






/*Shop Page*/
.page_title {
    background: #F5F8F9;
    padding: 40px 0;
}
.page_title_inner {
    width: 100%;
    position: relative;
}
.page_title_inner h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
}
.page_title_inner p {
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
}
.page_title_inner p .current {
    color: #69F;
}
.page_title_inner p.total_results {
    position: absolute;
    top: 25px;
    right: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #797979;
}
.categories_slider {
    width: 100%;
    padding: 50px 0;
}
.categories_slider_inner {
    width: 100%;
}
.heading h2 span {
    color: #69F;
}
.categories_slider_inner .heading h2 {
    font-size: 22px;
}
.categories_slider_box_inner {
    margin: 0 10px;
    height: 214px;
}
.categories_slider_box_inner a {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.categories_slider_box_inner a span {
    background: rgba(255, 255, 255, 0.76);
    border-radius: 29px;
    height: 50px;
    padding: 0 40px;
    line-height: 50px;
    margin: 0 auto 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.categories_slider_box_inner.selected a span {
    background: #69F;
    color: #fff;
}



.shop_loop_section {
    width: 100%;
    display: inline-block;
}
.shop_loop_section_inner {
    width: 100%;
    display: inline-block;
}
.filters {
    float: left;
    width: 20%;
}
.products_loop {
    float: right;
    width: 78%;
}
.filters .f_categories {
    background: #F8F8F8;
    border-radius: 9px 9px 0px 0px;
}
.filters .f_categories h2 {
    background: #69F;
    border-radius: 9px 9px 0px 0px;
    width: 80%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 20px 10%;
}
.filters .f_categories h2 i {
    margin: 0 15px 0 0;
}
.filters .f_categories .categories_list {
    padding: 25px;
}
.filters .f_categories .categories_list li {
    margin: 7px 0;
    display: inline-block;
    width: 100%;
}
.filters .f_categories .categories_list a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 97.4%;
    text-transform: capitalize;
    color: #000000;
}

.filters .f_categories .categories_list li ul {
    padding: 15px 0 0 15px;
}
.filters .f_categories .categories_list li ul a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0%;
    text-transform: capitalize;
    color: #000;
}
.filters .filter_box {
    margin: 50px 0;
}
.filters .filter_box h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    color: #000000;
    padding: 0 0 20px 0;
    display: block;
}
.filters .filter_box .show_more {
    background: #EAEAEA;
    border-radius: 7px;
    width: 151px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #000000;
    margin: 20px 0 0 0;
}
.filters .filter_box .show_more i {
    margin: 0 5px 0 0;
}
.filters .filter_box ul {
    display: block;
}
.filters .filter_box ul li {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0%;
    text-transform: capitalize;
    color: #000000;
}
.filters .filter_box ul li label {
    margin: 0 0 0 7px;
    float: left;
    height: 17px;
    line-height: 18px;
}
.filters .filter_box ul.colors_filter li {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 7px 40px 7px 0;
    cursor: pointer;
    position: relative;

}
.filters .filter_box ul.colors_filter li span {
    display: none;
    border: 1px solid #000;
      position: absolute;
      width: 28px;
      height: 27px;
      left: -5px;
      top: -5px;
      border-radius: 30px;
}
.filters .filter_box ul.colors_filter li.selected span{
    display: block;
}




.price_range_inner {
    background: #F8F8F8;
    padding: 30px 10px;
}
.price_range_values {
    display: inline-block;
    width: 100%;
    margin: 0 0 20px 0;
}
.price_range_values .left {
    float: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /*line-height: 0%;*/
    text-transform: capitalize;
    color: #000000;
}
.price_range_values .right {
    float: right;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /*line-height: 0%;*/
    text-transform: capitalize;
    color: #000000;
}




.ui-widget-header{
    background: #69F !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 3px solid #fff !important;
    background: #69F !important;
    font-weight: normal !important;
    color: #fff !important;
    border-radius: 30px !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
    border: 3px solid #fff !important;
    background: #69F !important;
    font-weight: normal !important;
    color: #fff !important;
    border-radius: 30px !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: 3px solid #fff !important;
    background: #69F !important;
    font-weight: normal !important;
    color: #fff !important;
    border-radius: 30px !important;
}
.ui-widget.ui-widget-content {
    border: unset !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0 !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0 !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0 !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0 !important;
}
.ui-slider-handle.ui-corner-all.ui-state-default {
    text-align: center;
}



.shorting_option {
    display: inline-block;
    width: 100%;
}
.shorting_option .sort_by {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    float: right;
}
.sort_by_dropdown_options {
    display: none;
}
.sort_by .sort_by_dropdown {
    display: inline-block;
    position: relative;
}
.sort_by_dropdown_options.active {
    display: block;
    position: absolute;
    z-index: 123;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
    background-color: #fff;
    right: 0;
}
.view_by_dropdown_options.active li {
    display: block;
}
.view_by_dropdown_options.active {
    display: block;
    position: absolute;
    z-index: 123;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
    background-color: #fff;
    right: 0;
}
.sort_by_dropdown_active {
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
    margin: 0 0 0 10px;
    cursor: pointer;
}
.sort_by_dropdown_active .fas.fa-angle-down {
    margin: 0 0 0 10px;
}

.shorting_option .view_by {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    float: right;
    margin: 0 0 0 30px;
}
.view_by_dropdown_options {
    display: none;
}
.view_by .view_by_dropdown {
    display: inline-block;
    position: relative;
}
.view_by_dropdown_active {
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
    margin: 0 0 0 10px;
    cursor: pointer;
}
.view_by_dropdown_active .fas.fa-angle-down {
    margin: 0 0 0 10px;
}


.products_loop_inner {
    width: 100%;
    display: inline-block;
}
.products_loop_inner .product_box {
    width: 23%;
    float: left;
    margin: 10px 1%;
}
.products_loop_inner .product_box .details .name .rating i {
    color: #000;
    font-size: 9px;
}

.products_loop_inner.list_view .product_box {
    width: 100%;
}
.products_loop_inner.list_view .product_box .image {
    float: left;
    width: 250px;
}
.products_loop_inner.list_view .product_box .details {
    float: right;
    width: 70%;
    margin: 50px 0 0 0;
}
.pagination {
    text-align: center;
    margin: 50px 0;
}
.pagination li {
    margin: 0 5px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    background: #E4E4E4;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    color: #000000;
    line-height: 50px;
}
.pagination li.active{
    background: #69F;
}
.pagination li.active a{
    color: #fff;
}
.pagination li a{
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
}


.sub_menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 49px;
    background-color: #fff;
    z-index: 123;
    box-shadow: 0 3px 25px -20px #000;
}
.header_menu_inner li:hover .sub_menu {
    display: flex;
}
.sub_menu .left {
    float: left;
    width: 30%;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.sub_menu .right {
    width: 70%;
}
.sub_menu .left ul {
    width: 100%;
}
.sub_menu .left li {
    display: block;
    width: 100%;
    padding: 0;
}
.sub_menu .left li a {
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
    font-weight: 500;
}
.view_all_link {
    padding: 10px 15px;
    font-weight: 700 !important;
}
.view_all_link i {
    margin: 0 0 0 10px;
}
.sub_menu .left li a i {
    float: right;
}
.sub_menu .left li.active a {
    background-color: #f2f2f2;
}
.sub_menu .right ul.inner_sub {
    width: 100%;
    display: none;
}
.sub_menu .right ul.inner_sub.active {
    display: block;
}
.sub_menu .right ul.inner_sub li {
    width: 40%;
    float: left;
    padding: 10px 5%;
}

.categories_dropdown {
    display: none;
    width: 925px;
    left: 0;
    top: 66px;
    position: absolute;
    background-color: #fff;
    z-index: 123;
    box-shadow: 0 3px 25px -20px #000;
}
.categories_dropdown.active{
    display: flex;
}
.categories_dropdown .left {
    width: 30%;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.categories_dropdown .right {
    width: 70%;
}
.categories_dropdown .left ul {
    width: 100%;
}
.categories_dropdown .left ul li {
    width: 100%;
}
.categories_dropdown .left ul li a {
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #000000;
}
.categories_dropdown .left ul li.active a{
    background-color: #f2f2f2;
}
.categories_dropdown .left ul li a i {
    float: right;
}
.categories_dropdown .right .inner_sub {
    width: 100%;
    display: none;
}
.categories_dropdown .right .inner_sub.active {
    display: block;
}
.categories_dropdown .right .inner_sub li {
    width: 40%;
    float: left;
    padding: 10px 5%;
}
.categories_dropdown .right .inner_sub li a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #000000;
}
.categories_dropdown .right .inner_sub li ul {
    width: 90%;
    padding: 0 0 0 10%;
}
.categories_dropdown .right .inner_sub li ul li {
    width: 100%;
    padding: 5px 0;
}
.categories_dropdown .right .inner_sub li ul li a {
    font-weight: 400;
}
.sub_menu .right ul.inner_sub li a {
    font-weight: 500;
}
.header_menu_inner li:hover {
    background-color: #f2f2f2;
}
.filters .filter_box ul li .checkmark {
    border: 3px solid rgba(0, 0, 0, 0.2);
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 15px;
    float: left;
}
.filters .filter_box ul li input[type="checkbox"] {
    display: none;
}
.filters .filter_box ul li.checked .checkmark {
    background-color: #69F;
}





.product_image_details_inner {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
}
.product_image_details_inner .left {
    float: left;
    width: 58%;
}
.product_image_details_inner .right {
    float: right;
    width: 40%;
}
.image_gallery {
    width: 100%;
    position: relative;
}
.for_images .image {
    margin: 15px 5px;
}
.image_gallery .slider_arrows {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.image_gallery .for_images_arrow.left {
    width: 50px;
    color: #000;
    float: left;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    left: -35px;
    bottom: 55px;
}
.image_gallery .for_images_arrow.right {
    width: 50px;
    color: #000;
    float: left;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    right: -35px;
    bottom: 55px;
}
.product_details {
    width: 100%;
}
.product_details .rating_box {
    background: rgba(148, 193, 31, 0.12);
    border-radius: 8px;
    width: 227px;
    height: 102px;
    text-align: center;
}
.product_details .rating_box h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
    margin: 20px 0 0 0;
}
.product_details .rating_box .sales {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #797979;
    text-align: center;
    display: inline-flex;
}
.product_details .rating_box .sales .rating {
    color: #69F;
    margin: 0 0 0 10px;
}
.product_details .product_name {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
    margin: 15px 0;
}
.product_details .price_box {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding: 15px 0;
    position: relative;
}
.product_details .input_box {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding: 15px 0;
}
.product_details .price_box h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
    display: block;
}
.product_details .price_box h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #94AB06;
    display: block;
}
.product_details .price_box p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #838383;
    margin: 5px 0 0 0;
}
.product_details .price_box span {
    background: #69F;
    border-radius: 36px;
    padding: 4px 12px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 15px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.product_details .input_box h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
    display: block;
    margin: 0 0 5px 0;
}
.product_details .input_box select {
    background: #F5F8F9;
    border-radius: 2px;
    border: 0;
    width: 300px;
    padding: 12px 7px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #818181;
}
.product_details button {
    background: #69F;
    border-radius: 57px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #FFFFFF;
    border: 0;
    padding: 10px 90px;
    margin: 10px 0 0 0;
    cursor: pointer;
}
.reviews_and_details_inner {
    width: 100%;
    display: inline-block;
}
.reviews_and_details_inner .left {
    float: right;
    width: 40%;
}
.reviews_and_details_inner .right {
    float: left;
    width: 58%;
}
.reviews_and_details_inner .total_reviews {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
}
.reviews_and_details_inner .reviews_list {
    width: 100%;
}
.reviews_and_details_inner .reviews_list .reviews_list_box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 30px 0;
    position: relative;
    width: 100%;
display: inline-block;
}
.reviews_and_details_inner .reviews_list .reviews_list_box .details {
    width: 87%;
    float: right;
}
.reviews_and_details_inner .reviews_list .reviews_list_box .details h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
}
.reviews_and_details_inner .reviews_list .reviews_list_box .details .rating {
    color: #313131;
    font-size: 12px;
    margin: 5px 0;
}
.reviews_and_details_inner .reviews_list .reviews_list_box .details .content {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #494949;
}
.reviews_and_details_inner .reviews_list .reviews_list_box .details .product {
    margin: 10px 0 0 0;
}
.reviews_and_details_inner .reviews_list .reviews_list_box .details .product a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
    display: inline-block;
}
.reviews_and_details_inner .reviews_list .reviews_list_box .details .product a .image {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #6A6A6A;
    border-radius: 30px;
    margin: 0 3px -5px 0;
}
.reviews_and_details_inner .reviews_list .reviews_list_box .user_image {
    position: absolute;
    left: 0;
    top: 30px;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    overflow: hidden;
    border: 1px solid #f2f2f2;
}

.reviews_and_details_inner .left .toggle_heading {
    background: #F5F8F9;
    border-radius: 2px;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}
.reviews_and_details_inner .left .toggle_heading h2 {
    display: inline-block;
    width: 100%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
}
.reviews_and_details_inner .left .toggle_heading h2 i {
    float: right;
    margin: 7px 0 0 0;
    transition: 0.3s;
}
.reviews_and_details_inner .left .toggle_heading .content {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #838383;
    display: none;
}
.reviews_and_details_inner .left .toggle_heading.active .content{
    display: block;
}
.reviews_and_details_inner .left .toggle_heading.active h2 i {
    transform: rotate(180deg);
}
.reviews_and_details_inner .right .pagination li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.reviews_and_details_inner .right .pagination {
    text-align: left;
}
.reviews_and_details_inner .reviews_list .reviews_list_box:last-child {
    border: 0;
}



.page_title_inner.single_heading {
    text-align: center;
}
.cart_items_inner {
    padding: 50px 0;
    width: 100%;
}
.cart_items_labels {
    width: 100%;
    display: inline-block;
}
.cart_items_labels .box1 {
    float: left;
    width: 40%;
}
.cart_items_labels .box2 {
    float: left;
    width: 20%;
}
.cart_items_labels .box3 {
    width: 20%;
    float: left;
    text-align: center;
}
.cart_items_labels .box4 {
    width: 20%;
    float: left;
    text-align: right;
}
.cart_items_labels h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
    padding: 0 0 15px 0;
}
.cart_items_items {
    border-top: 1px solid rgba(0, 0, 0, 0.23);
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    padding: 10px 0;
}
.cart_items_items .cart_products {
    display: inline-block;
    width: 100%;
}
.cart_items_items .cart_products .image {
    float: left;
    width: 150px;
    height: 150px;
}
.cart_items_items .cart_products .image a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.cart_items_items .cart_products .details {
    float: left;
    margin: 0 0 0 10px;
}
.cart_items_items .cart_products .details h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #202020;
    margin: 20px 0 0 0;
}
.cart_items_items .cart_products .details p {
    margin: 10px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #202020;
}
.cart_items_items .cart_products .details p span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #BE7A67;
    margin: 0 0 -5px 0;
}
.cart_items_items .price {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #202020;
}
.cart_items_items .qty {
    border: 1px solid #000000;
    width: 190px;
    height: 55px;
    line-height: 55px;
    display: inline-block;
    color: #000;
}
.cart_items_items .qty .input {
    width: 90px;
    float: left;
}
.cart_items_items .qty .input input {
    border: 0;
    text-align: center;
    width: 100%;
}
.cart_items_items .qty .minus {
    float: left;
    width: 50px;
    text-align: center;
    line-height: 55px;
    height: 55px;
    cursor: pointer;
}
.cart_items_items .qty .plus {
    float: left;
    width: 50px;
    text-align: center;
    line-height: 55px;
    height: 55px;
    cursor: pointer;
}

.cart_items_items .price_total {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #202020;
}
.cart_items_items .price_total span {
    margin: 0 0 0 10px;
    cursor: pointer;
}
.cart_items_items .cart_items_labels {
    padding: 15px 0;
}
.checkout_section {
    width: 100%;
    display: inline-block;
    padding: 50px 0 0 0;
}
.checkout_section .checkout {
    width: 350px;
    float: right;
}
.checkout_section .checkout h2 {
    width: 100%;
    display: inline-block;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #000000;
}
.checkout_section .checkout h2 span {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #202020;
    float: right;
    margin: 8px 0 0 0;
}
.checkout_section .checkout p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 181.6%;
    text-transform: capitalize;
    color: #747474;
    margin: 15px 0 20px 0;
}
.checkout_section .checkout a {
    background: #94AB06;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    display: block;
    text-align: center;
    padding: 15px 0;
}



.checkout_process {
  position: absolute;
  right: 0;
  width: 300px;
  height: 55px;
  top: 10px;
}
.checkout_process ul {
  width: 100%;
  z-index: 123123;
  position: absolute;
}
.checkout_process ul li {
  display: inline-block;
  margin: 0 25px;
}
.checkout_process ul li .number {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #69F;
  text-align: center;
  line-height: 30px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 0 auto;
}
.checkout_process ul li .text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  margin: 5px 0 0 0;
display: block;
}

.checkout_process .bg_line {
  position: absolute;
  width: 220px;
  height: 5px;
  display: block;
  background-color: #fff;
  top: 14px;
  left: 40px;
  z-index: 1;
}



.checkout_form_inner {
  width: 100%;
  background: #F5F8F9;
  padding: 50px 0;
  margin: 50px 0;
}
.checkout_form_inner h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  width: 100%;
}
.checkout_form_inner form {
  width: 650px;
  margin: 50px auto 0;
}
.checkout_form_inner form .form_box {
  width: 100%;
  margin: 15px 0;
  display: block;
}
.checkout_form_inner form .form_box label {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  height: 25px;
}
.checkout_form_inner form .form_box input {
  background: #FFFFFF;
  border-radius: 4px;
  border: 0;
  width: 96%;
  padding: 10px 2%;
}
.checkout_form_inner form .form_box select {
  background: #FFFFFF;
  border-radius: 4px;
  border: 0;
  width: 100%;
  padding: 10px 2%;
}
.continue {
  width: 100%;
  background: #69F;
  border-radius: 5px;
  text-align: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #FFF;
  padding: 10px 0;
margin: 20px 0 0 0;
}
.checkout_form_inner form .\32 _col {
  width: 100%;
  display: flex;
}
.checkout_form_inner form .\32 _col .form_box {
  width: 49%;
}
.checkout_form_inner form .\32 _col .form_box:first-child {
  margin-right: 1%;
}
.checkout_form_inner form .\32 _col .form_box:last-child {
  margin-left: 1%;
}

.checkout_form_inner form .\33 _col {
  width: 100%;
  display: flex;
}

.checkout_form_inner form .\33 _col .form_box:first-child {
  margin-right: 1%;
  width: 20%;
}
.checkout_form_inner form .\33 _col .form_box:nth-child(2) {
  margin-right: 1%;
    width: 20%;
}
.checkout_form_inner form .\33 _col .form_box:last-child {
    width: 58%;
}

.payment_redios_option {
  width: 650px;
  margin: 0 auto;
}
.payment_redios_option .heading_option {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}
.payment_redios_option .heading_option .left {
  float: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.75);
}
.payment_redios_option .heading_option .right {
  float: right;
  width: 150px;
}
.payment_redios_option .heading_option .left span {
  background: #F5F8F9;
  width: 38px;
  height: 38px;
  border-radius: 40px;
  display: inline-block;
  margin: 0 10px -11px 0;
}
.payment_form {
  display: none;
}
.payment_redios_option.active .payment_form {
  display: block;
}
.payment_redios_option.active .heading_option .left {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.payment_redios_option.active .heading_option .left span {
  background: #69F;
  border: 5px solid #000;
  width: 28px;
  height: 28px;
}

.checkout_form.pay_ment_form .checkout_form_inner {
  background: transparent;
}
.checkout_form.pay_ment_form .checkout_form_inner .payment_form {
  background-color: #F5F8F9;
  padding: 50px;
  margin: 30px 0;
}
.checkout_form.pay_ment_form .checkout_form_inner .payment_form form {
  width: 100%;
}
.checkout_form.pay_ment_form .checkout_form_inner .payment_form form {
  margin: 0;
}
.checkout_process .bg_line .\35 0_percent {
  width: 50%;
  height: 100%;
  background-color: #69F;
}
.checkout_process .bg_line .\31 00_percent {
  width: 100%;
  height: 100%;
  background-color: #69F;
}
.checkout_form.order_page .checkout_form_inner {
  padding: 50px;
}
.order_page_text {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: 30px 0;
}
.order_page_text .row {
  width: 100%;
  display: inline-block;
}
.order_page_text .row .left {
  float: left;
}
.order_page_text .row .right {
  float: right;
}
.order_page_text h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
}
.order_page_text p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #202020;
  margin: 0;
}
.order_page_text:last-child {
  border: 0;
}
.order_page_text:first-child {
  border: 0;
}

.search_topic_inner {
  background: #F5F8F9;
  width: 100%;
  padding: 50px;
}
.search_topic {
  margin: 50px 0;
}
.search_topic_inner h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
  width: 100%;
  margin: 0 0 30px 0;
}
.search_topic_inner form {
  width: 600px;
  margin: 0 auto;
  position: relative;
}
.search_topic_inner form label {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  display: block;
}
.search_topic_inner form input {
  width: 78%;
  background-color: #fff;
  border-radius: 4px;
  border: 0;
  padding: 10px 2%;
}
.search_topic_inner form button {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 0;
  width: 15%;
  float: right;
  padding: 4px 0;
}
.search_topic_inner p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.search_topic_inner p a {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
}
.interest_links {
  width: 600px;
  margin: 0 auto;
}
.interest_links li {
  margin: 8px 2%;
  width: 45%;
}
.interest_links li a {
  display: inline-block;
  width: 100%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 4px 0;
}
.interest_links li a .fas.fa-angle-right {
  float: right;
  margin: 8px 8px 0 0;
}

.interest_links li a span {
  float: left;
  margin: 1px 0 0 0;
}
.interest_links li a img {
  float: left;
  margin: 5px 5px;
}
.faqs {
  width: 600px;
  margin: 0 auto;
}
.faqs .toggle_heading {
  background: #FFFFFF;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
}
.faqs .toggle_heading h2 {
  margin: 0;
  width: 96%;
  display: inline-block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  text-align: left;
  padding: 10px 2%;
}
.faqs .toggle_heading h2 .fas.fa-angle-down {
  float: right;
  margin: 6px 0 0 0;
}
.faqs .toggle_heading .content {
  display: none;
}
.faqs .toggle_heading.active .content {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  width: 96%;
  padding: 10px 2%;
}
.return_refund {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}





.seller_profile_info_inner {
  width: 100%;
  padding: 30px 0;
}
.seller_profile_info {
  width: 100%;
}
.seller_profile_info_inner .cover_photo {
  width: 100%;
  background-size: cover;
  height: 200px;
  margin: 0 0 20px 0;
  background-position: center;
}
.seller_profile_info_box {
  width: 100%;
  display: flex;
}
.seller_profile_info_box .left {
  width: 40%;
  display: flex;
}
.seller_profile_info_box .right {
  width: 60%;
}
.seller_profile_info_box .left .image {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  border-radius: 7px;
  display: flex;
  align-items: center;
}
.seller_profile_info_content h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  margin: 20px 0 0 0;
}
.seller_profile_info_content {
  margin: 0 0 0 15px;
}
.seller_profile_info_content p {
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #7E7E7E;
}
.seller_profile_info_content .total_sales {
  display: flex;
}
.seller_profile_info_content .total_sales .total_sales_count {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #7E7E7E;
}
.seller_profile_info_content .total_sales .rating {
  color: #313131;
  font-size: 12px;
  margin: 5px 0 0 10px;
}
.seller_profile_info_content a {
  background: #202020;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 0 0;
}
.seller_profile_info_box .right .bio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: capitalize;
  color: #727272;
  margin: 30px 0 0 0;
}
.seller_profile_info_inner .announcement h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  margin: 10px 0 0 0;
}
.seller_profile_info_inner .announcement p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #7E7E7E;
  margin: 0;
}

.shop_loop_section.seller_page .products {
  padding: 0;
}
.shop_loop_section.seller_page .products .heading {
  padding-top: 0;
}
.shop_loop_section.seller_page .reviews_and_details {
  padding: 50px 0 0 0;
}


.account_wrapper {
  width: 100%;
  height: 700px;
  display: flex;
}
.account_wrapper .account_slider {
  width: 65%;
  height: 100%;
}
.account_wrapper .account_slider .account_slide_box {
  height: 700px;
  position: relative;
  background-size: cover;
}
.account_wrapper .account_slider .slick-dots {
  position: absolute;
  bottom: 30px;
  width: unset;
  left: 100px;
}
.account_wrapper .account_slider .account_slide_box .account_slide_content {
  position: absolute;
  bottom: 50px;
  width: 600px;
  left: 100px;
}
.account_wrapper .account_slider .account_slide_box .account_slide_content h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}
.account_wrapper .account_slider .account_slide_box .account_slide_content p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0 20px 0;
}
.account_wrapper .account_slider .slick-dots li.slick-active button::before {
  opacity: 1;
  color: #fff;
  content: '';
  width: 21px;
  background-color: #fff;
  height: 5px;
  border-radius: 10px;
  margin: 7px 0 0 0;
}
.account_wrapper .account_slider .slick-dots li button::before{
    opacity: 1;
color: #fff;
}
.account_wrapper .account_slider .slick-dots li{
    margin: 0;
}

.account_form {
  width: 35%;
  padding: 0 40px;
  position: relative;
}
.account_form .logo {
  margin: 100px 0 0 0;
}
.account_form h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  color: #202020;
  width: 100%;
  margin: 20px 0 0 0;
}
.account_form p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-transform: capitalize;
  color: #313131;
  opacity: 0.6;
  margin: 10px 0 20px 0;
}
.account_form .input_box {
  width: 100%;
  margin: 10px 0;
}
.account_form .input_box label {
  width: 100%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  display: block;
}
.account_form .input_box input {
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #A4A4A4;
  width: 100%;
  padding: 10px;
}
.account_form .input_box button {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 0 0;
  cursor: pointer;
}
.account_form .bottom_link {
  position: absolute;
  margin: 0;
  bottom: 15px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  opacity: unset;
}
.account_form .bottom_link a {
  color: #69F;
  text-decoration: underline;
}
.account_wrapper .account_slider .account_slide_box .account_slide_content h1 span {
  color: #69F;
}


.profile_upload_box.input_box .featured_image_upload {
  width: 150px;
  background: #FFFFFF;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.profile_upload_box.input_box .featured_image_upload .featured_image_upload_inner {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
.profile_upload_box.input_box .featured_image_upload .featured_image_upload_inner .image {
  width: 60px;
  margin: 0 auto;
}
.profile_upload_box.input_box .featured_image_upload .featured_image_upload_inner p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 135%;
  text-align: center;
  text-transform: capitalize;
  color: #5B5B5B;
  width: 100%;
  margin: 0 auto;
}
.profile_upload_box.input_box .featured_image_upload .featured_image_upload_inner p span {
  color: #69F;
  text-decoration: underline;
}


.account_form.register .step_1, .account_form.register .step_2 {
  display: none;
}
.account_form.register .step_1.active, .account_form.register .step_2.active {
  display: block;
}
.account_form .top_back_link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  position: absolute;
  top: 0;
  opacity: unset;
  cursor: pointer;
}
.account_form .top_back_link i {
  margin: 0 10px 0 0;
}




.about_page_section_inner {
  text-align: center;
  padding: 50px 0;
  width: 100%;
}
.about_page_section_inner_inner {
  width: 800px;
  margin: 0 auto;
}
.about_page_section_inner h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
}
.about_page_section_inner p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 181.6%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  margin: 5px 0 0 0;
}
.about_page_section_inner.bg_half_white {
  background: #F5F8F9;
  margin: 30px 0;
}
.about_page_section_inner.bg_half_white .about_page_section_inner_inner {
  width: 90%;
}

.about_page_section_with_image_inner {
  display: flex;
  width: 100%;
}
.about_page_section_with_image_inner .left {
  width: 100%;
}
.about_page_section_with_image_inner .right {
  width: 100%;
}
.about_page_section_with_image_inner .about_page_section_inner.bg_half_white {
  margin: 0;
  padding: 100px 0;
}
.about_page_section_with_image_inner .image {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
}
.about_page_section_inner h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
}
.contact_support {
  background: #F2FADD;
  margin: 40px 0 0 0;
}
.contact_support a {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 10px 30px;
  margin: 17px 0 0 0;
}
.contact_form {
  background: #F5F8F9;
  padding: 50px 30px;
}
.contact_form h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
}
.contact_form form {
  width: 100%;
}
.contact_form form .input_box {
  margin: 20px 0 0 0;
}
.contact_form form .input_box input, .contact_form form .input_box textarea {
  background: #FFFFFF;
  border-radius: 4px;
  width: 96%;
  padding: 15px 2%;
  border: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.38);
}
.contact_form form .input_box button {
  background: #69F;
  border-radius: 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.office_address {
  padding: 0px 30px;
}
.office_address h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
}
.office_address p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 181.6%;
  text-transform: capitalize;
  color: #000000;
  margin: 0 0 20px 0;
}
.office_address p.address_line {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 10px 0;
  margin: 0;
}
.office_address p.address_line span {
  margin: 0 10px 0 0;
}

.contact_support.thankyou_page {
  background: #fff;
  margin: 50px 0;
}
.contact_support.thankyou_page .about_page_section_inner {
  background: #F5F8F9;
  border-radius: 4px;
  width: 100%;
}
.product_details .rating_box h2 a {
  color: #000;
}